<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/DataTables/DataTables-1.11.5/css/dataTables.bootstrap5.css">
<link rel="stylesheet" href="/DataTables/DateTime-1.1.2/css/dataTables.dateTime.min.css">
<link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="/Hover CSS/Hover-master/css/hover-min.css">
<link rel="stylesheet" href="/css/Principal.css">
<link rel="stylesheet" href="/css/Animaciones.css">
<link rel="stylesheet" href="/alertifyjs/css/alertify.min.css">
<link rel="stylesheet" href="/alertifyjs/css/themes/default.rtl.min.css">
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/Jquery-3.6.3/jquery-3.6.3.js"></script>
  <script type="text/javascript" src="/moment/moment.min.js"></script>
  <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/locale/es.js"></script>
  <script type="text/javascript" src="/DataTables/DateTime-1.1.2/js/dataTables.dateTime.js"></script>
  <script src="/DataTables/DataTables-1.11.5/js/jquery.dataTables.min.js"></script>
  <script src="/DataTables/DataTables-1.11.5/js/dataTables.dataTables.min.js"></script>
  <script src="/alertifyjs/alertify.min.js"></script>
  
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <button class="btn btn-outline-danger hvr-pulse " onClick="history.go(-1);">
          <i class="bi bi-arrow-left hvr-pulse" style="font-size: 1rem;"></i>
        </button>
        <a href="/index"><img class="img-fluid w-25 mx-auto d-inline"
          src="/images/Logo-Joval.png" alt="logo" id="LogoJoval"></a>
      </div>
      <div class="col">
      </div>
      <div class="col">
        <p>Version de prueba (alpha 0.1)</p>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-sm navbar-light bg-danger ">
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-white " type="button" href="/Finanzas">Principal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/Finanzas_Cobros">Cobros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/Finanzas_CajaChica">Caja chica</a>
        </li>
          <li class="nav-item">
          <a class="nav-link text-white " href="/Finanzas/PagosPersonal">Pagos a personal</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link text-white " href="/Finanzas_Clientes">Clientes</a> -->
        </li>
        
      </ul>
     
    </div>
  </nav>
  
  <div  class="toast-container position-absolute p-2 bottom-0 end-0">
    <div  class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <i class="bi bi-square-fill text-primary pe-1"></i>
        <strong class="me-auto">Bootstrap</strong>
        <small class="text-muted">justo ahora</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        ¿Ves? Justo como esto
      </div>
    </div>
  
    <div   class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <i class="bi bi-square-fill text-primary"></i>
        <strong class="me-auto">Bootstrap</strong>
        <small class="text-muted">2 seconds ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Atención, los toasts se apilarán automáticamente
      </div>
    </div>
  </div>
  <script>
    var toastTrigger = document.getElementById('liveToastBtn')
if (toastTrigger) {
  toastTrigger.addEventListener('click', function () {
    $('.toast').show();
  })
}

  </script>