<%- include('../VistaDeLaObraModals/NuevoPagoObras.ejs') %>
  
    <div class="modal fade" id="modalComprobantesEfectuados" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitleId">Comprobantes registrados</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

  <table id="tableComprobantesEfectuados" class="table table-primary table-bordered table-inverse table-responsive text-center">
  <thead>
    <th>N° comprobante</th>
    <th>Fecha de pago</th>
    <th>Concepto</th>
    <th>Monto</th>
    <th>Observacion</th>
    <th>Otros</th>

  </thead>
  <tbody></tbody>
  </table>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            
          </div>
        </div>
      </div>
    </div>
 
   <%- include('../VistaDeLaObraModals/EdicionComprobanteEmitido.ejs') %>
   
    <script>
          
   
 
  $('#CotizacionUSD').on('change',(()=>{
    if($('#CalcularEnDolares').val()=="Si"){
    
   var cotizacionBaseDolar = $('#cotizacionInicial').val();
                var montoAPagar = ImporteOriginalAPagar;
             var cotizacionActualDolar=$('#CotizacionUSD').val();
                montoAPagar = montoAPagar/cotizacionBaseDolar; //Se recalcula el importe base. Para saber cuantos dolares eran en su momento.
                montoAPagar = montoAPagar * cotizacionActualDolar; //El monto en dolares base, se multiplica por la cotizacion actual, para saber el valor actual en ARS.
               montoAPagar=montoAPagar.toFixed(2);
               $('#TextoUsuarioCotizacionUSD').html('<label>Descripcion:</label><p>El monto original a pagar era:$'+ImporteOriginalAPagar+'. Con una cotización base de: 1USD = $'+cotizacionBaseDolar+'ARS. <br> La cotización actual es de: 1USD = $'+cotizacionActualDolar+' ARS.<span class="fw-bold"> El importe actual a pagar es de: $ '+montoAPagar+' ARS.</span></p>');
                $('#ImporteIngresado').val(montoAPagar);
              }
             
  })
  )
  $('#CalcularEnDolares').on('change',(()=>{
    var cotizacionActualDolar=0;
    if($('#CalcularEnDolares').val()=="Si"){ //Cuando selecciona la opcion "¿Calculo en dolares?" en sí, se procede a consultar una api externa que actualiza la cotización del dólar, correspondiente a dolar venta oficial banco nación.
      
      $('.descripcionUSD').css('display','block');
   //Se realiza el reajuste en el valor a pagar, en "Importe".
   var cotizacionBaseDolar = $('#cotizacionInicial').val();
                var montoAPagar = ImporteOriginalAPagar;
                var cotizacionActualDolar = $('#CotizacionUSD').val();
                montoAPagar = montoAPagar/cotizacionBaseDolar; //Se recalcula el importe base. Para saber cuantos dolares eran en su momento.
                montoAPagar = montoAPagar * cotizacionActualDolar; //El monto en dolares base, se multiplica por la cotizacion actual, para saber el valor actual en ARS.
               montoAPagar=montoAPagar.toFixed(2);
               $('#TextoUsuarioCotizacionUSD').html('<label>Descripcion:</label><p>El monto original a pagar era:$'+ImporteOriginalAPagar+'. Con una cotización base de: 1USD = $'+cotizacionBaseDolar+'ARS. <br> La cotización actual es de: 1USD = $'+cotizacionActualDolar+' ARS.<span class="fw-bold"> El importe actual a pagar es de: $ '+montoAPagar+' ARS.</span></p>');
                $('#ImporteIngresado').val(montoAPagar);
              }
              else{
                $('.descripcionUSD').css('display','none');
                $('#ImporteIngresado').val(ImporteOriginalAPagar);
                 $('#TextoUsuarioCotizacionUSD').html('');
              }
  })
  )
  function EditarComprobanteEmitido(){
    var boton= $(event.target); //Detecta que boton es al que se le hizo el click.
  var fila=boton.closest('tr');
  var celdas = fila.find('td');
  var datosFila = [];

    // Recorre cada celda y agrega su contenido al array
    celdas.each(function() {
      datosFila.push($(this).text());
    });

    // Ahora, datosFila contiene todos los datos de la fila
  $('#modalEditarComprobanteEmitido').modal('show');
  $('#EdicionComprobanteEmitidoNComprobante').val(datosFila[0]);
$('#EdicionComprobanteEmitidoFechaPago').val(datosFila[1]);
$('#EdicionComprobanteEmitidoConcepto').val(datosFila[2]);
$('#EdicionComprobanteEmitidoMonto').val(datosFila[3]);
$('#EdicionComprobanteEmitidoObservacion').val(datosFila[4]);
}
$('#btnVerComprobantesRegistrados').click(()=>{
  
  var idcliente= $('#IDCliente').val();
 
      $('#tableComprobantesEfectuados').DataTable({
        "scrollX": false,
        "scrollY": false,
        "paging": false,
        "info": false,
        "searching": true,
        "language":{
          url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json',
        },
        "ajax": {
          "type": "GET",
    "url": "/Finanzas/cobros/VerComprobantesRegistrados/"+idcliente+"",
    "dataType": "json",
    "dataSrc": function (response) {
      return response;
      }
    },
    "columns":[
      {"data": "nComprobante" },
      {"data": "FechaPago" ,'render': function(data,type,row,meta){
        if(data){
        
          return moment(data).locale('es').format("DD-MM-YYYY");
        }else{
          return null;
        }
      }},
      { "data": "Descripcion" ,'render': function(data,type,row,meta){
        if(data){
          return data
        }else{
          return '';
        }
      }},
      { "data": "Monto" ,'render': function(data,type,row,meta){
        if(data){
          return data
        }else{
          return null;
        }
      }},
      { "data": "Observacion" ,'render': function(data,type,row,meta){
        if(data){
          return data
        }else{
          return null;
        }
      }},
      { 'render': function(data,type,row,meta){
        return'<button type="button" class="btn btn-sm btn-outline-primary" onclick="EditarComprobanteEmitido();";><i class="bi bi-pencil-square"></i></button><button type="button" class="btn btn-sm btn-outline-primary"><i class="bi bi-search"></i></button><button type="button" class="btn btn-sm btn-outline-primary" onclick="ReimprimirComprobante('+row.nComprobante+')" "> <i class="bi bi-printer"></i></button>'
      }
       },
    ],
    
    })
     
    
 
  $('#modalComprobantesEfectuados').modal('show');
})
function ReimprimirComprobante(nroComprobante){

  $.ajax({
    type: "GET",
    url: "/ReimprimirComprobante/"+nroComprobante,
    xhrFields:{responseType:'blob'},
    success: function (response) {
      console.log(response);
      const blob=response;
    const url = URL.createObjectURL(blob);
    const a = document.createElement('a');
    document.body.appendChild(a);
    a.href = url;
    a.download = 'Comprobante n°: '+nroComprobante;
    a.click();
    
    // Liberar recursos
    window.URL.revokeObjectURL(url);
    document.body.removeChild(a);
    }
  });
}
$('#FormaDePago').on('change', function(){
  var opcionSeleccionada = $(this).val();
  if(opcionSeleccionada==="Transferencia"){
$('#divnroTransferencia').css('display','block');
  }else{
    $('#divnroTransferencia').css('display','none'); 
  }
})

    </script>
    <style>
      @keyframes rotate{
        to{
          transform: rotate(360deg);
        }
      }
      .rotar{
-webkit-transition: 3s;
-o-transition: 30s; 
      }
      .rotar:hover{
animation: rotate 1.5s linear infinite;
/* Código by @damiande */

      }
    </style>