<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/DataTables/DataTables-1.11.5/css/dataTables.bootstrap5.css">
<link rel="stylesheet" href="/DataTables/DateTime-1.1.2/css/dataTables.dateTime.min.css">
<link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css">
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/Jquery-3.6.3/jquery-3.6.3.js"></script>
  <script type="text/javascript" src="/moment/moment.min.js"></script>
  <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/locale/es.js"></script>
  <script type="text/javascript" src="/DataTables/DateTime-1.1.2/js/dataTables.dateTime.js"></script>
  <script src="/DataTables/DataTables-1.11.5/js/jquery.dataTables.min.js"></script>
  <script src="/DataTables/DataTables-1.11.5/js/dataTables.dataTables.min.js"></script>

<div class="container-fluid">
 
  <div class="row">
    
    <div class="col mr-32 ">
      <button class="btn btn-outline-danger " onClick="history.go(-1);">
        <i class="bi bi-arrow-bar-left"></i>
      </button>
      <a href="/index"><img class="img-fluid w-25 mx-auto d-inline"
        src="./images/Logo-Joval.png" alt="logo" id="LogoJoval"></a>
      </a>
          <h3 class="d-inline font-weight-bold align-middle">JOVAL S.A.</h3>
          
    </div>
    <div class="col">
    </div>
    <div class="col ">
      <p class="align-middle mx-auto">Version de prueba (alpha 2.0)</p>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-sm navbar-light bg-primary sticky-sm-top">
  <div class="container-fluid">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#BarraNavegacion" aria-controls="BarraNavegacion" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="BarraNavegacion">
    <ul class="navbar-nav mr-auto">
      <a href="/adminecogas">
        <button class="btn btn-primary" value="Administración Ecogas">Administración
          Ecogas</button>
        </a>
        <a href="/admingral">
        <button class="btn btn-primary" value="Administración Ecogas" type="submit">Administración
          General</button>
        </a>
        <a href="/compraventa">
        <button class="btn btn-primary" value="Administración Ecogas" type="submit">Compra-Venta</button>
      </a>
        <button class="btn btn-primary" value="Administración Ecogas" disabled>Recursos Humanos</button>
        <a href="/Finanzas">
        <button class="btn btn-primary" value="Administración Ecogas">Finanzas
        </button>
      </a>
    </ul>
  </div>
</div>
</nav>
<style>
#LogoJoval:hover {
  transition:all .5s ease-in-out;
-webkit-transform: rotate(180deg);
-webkit-transform-style: preserve-3d;
transform: rotate(360deg);
transform-style: preserve-3d;}  
</style>