<link href="\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" >
<div class="container">
    <div class="row">
      <div class="col">
        <a href="/"><img class="img-fluid w-25 mx-auto"
          src="./images/Logo-Joval.png" alt="logo" id="LogoJoval"></a>
        </a>
 alt="logo" id="LogoJoval"></a>
" alt="logo"></a>
      </div>
      <div class="col">
      </div>
      <div class="col">
        <h5>Version de prueba (alpha 0.1)</h5>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-sm navbar-light bg-info ">
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-dark " type="button" href="/compraventa">Principal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark " href="/compra">Compras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark " href="/infoempresa">Ventas</a>
        </li>
       
      </ul>
    </div>
  </nav>