
<div class="row "><div class="col">
        <span>
            Responsable de la Tarea:
        </span>
        <input class="form-check-input-inline" type="radio"
            name="ResponsableDeTarea" id="ResponsableDeTarea" required
            value="Mauricio">
        Mauricio
        <input class="form-check-input-inline" type="radio"
            name="ResponsableDeTarea" id="ResponsableDeTarea" value="Gustavo">
        Gustavo
        <input class="form-check-input-inline" type="radio"
            name="ResponsableDeTarea" id="ResponsableDeTarea" value="Daiana">
        Daiana
    </div>
</div>
<div class="row pb-1 ">
    <div class="input-group-sm">
        <span class="">Tarea Realizada:</span>
        <input class="form-control" type="text" name="TareaRealizada"
            id="TareaRealizada" placeholder="Ingrese ultima tarea realizada"
            aria-describedby="TareaRealizada">
    </div>
</div>
<div class="row pb-1">
    <div class="input-group-sm">
        <span class="">Proxima Tarea:</span>
        <input class="form-control" type="text" name="ProximaTarea"
            id="ProximaTarea" placeholder="Ingrese la proxima tarea"
            aria-describedby="ProximaTarea">
    </div>
</div>
<div class="row pb-1">
    <div class="input-group-sm">
        <span class="">Fecha Limite:</span>
        <input class="form-control" type="date" name="Fecha_limite"
            id="Fecha_limite" placeholder="Ingrese ultima tarea realizada"
            aria-describedby="Fecha_limite">
       
    </div>
    
</div>
<div class="row-p-1">
    <div class="input-group mt-1">
        <input type="file" class="form-control" placeholder="Archivo" aria-label="Archivo">
      </div>
   </div>
   <div class="row">
    <div class="input-group-sm pt-2">
      
    </div>

   
   </div>
