<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codigo carpeta</title>
</head>
<body>
    <%if(results){%>
  

        <table class="table">
            <thead>
              <tr>
                Codigos en uso
              </tr>
            </thead>
            <tbody>
                <tr>
                    <%results.forEach((Codigo)=>{%>
                        <td>
                <%= Codigo.Codigo%>
            </td>
                <%})%>
                </tr>
              <!-- <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr> -->
            </tbody>
          </table>
        <%}%>
</body>
</html>