<!--Preliminar-->
<th>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalPreliminar">
        Preliminar
    </button>

    <!-- Modal -->
    <div class="modal fade" id="ModalPreliminar" tabindex="-1" role="dialog" aria-labelledby="ModalPreliminar"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="ModalPreliminar">
                        Preliminar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/actualizarEtapas/<%= user.id%>" id="formPreliminar" method="post">
                        <div class="container">
                            <div class="card p-3 mt-3 border-secondary">
                                <div class="col-12">
                                    <div class="card-header bg-primary text-white">
                                        <label class="mx-auto" for="DocumentacionDelTerreno">Documentación
                                            del
                                            terreno</label>
                                    </div>
                                    <div class="card-body">
                                    <div class="row ">
                                       
                                       
                                        <div class="col-12 border">
                                           
                                            <div class="card-title text-primary">
                                                <label for="Mensura">Mensura</label>
                                            </div>
                                            <div class="card-text">
    <div class="input-group">
            <div class="col-2.5 p-1">
                Sin Presentar<input id="" class="input" type="radio" name="Mensura" value="Sin presentar">
            </div>
            <div class="col-2.5 p-1">
                En Gestión<input id="" class="input" type="radio" name="Mensura" value="EnGestion">
            </div>
            <div class="col-2.5 p-1">
                Presentado<input id="" class="input" type="radio" name="Mensura" value="Presentado">
            </div>
            <div class="col-2.5 p-1">
                Observado<input id="" class="input" type="radio" name="Mensura" value="Observado">
            </div>
            <div class="col-2 p-1">
                Ok<input id="" class="input" type="radio" name="Mensura" value="Ok">
            </div>
            
       </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                        <div class="row ">
                                        <div class="col-12 border">
                                            <div class="card-title text-primary">
                                                <label for="TituloDePropiedad">Titulo
                                                    de
                                                    propiedad</label>
                                            </div>
                                            <div class="card-text">
                                                <div class="input-group ">
                                                <div class="col-2.5 p-1">
                                                    Sin Presentar<input id="" class="input" type="radio" name="TituloDePropiedad" value="Sin presentar">
                                                </div>
                                                <div class="col-2.5 p-1">
                                                    En Gestión<input id="" class="input" type="radio" name="TituloDePropiedad" value="EnGestion">
                                                </div>
                                                <div class="col-2.5 p-1">
                                                    Presentado<input id="" class="input" type="radio" name="TituloDePropiedad" value="Presentado">
                                                </div>
                                                <div class="col-2.5 p-1">
                                                    Observado<input id="" class="input" type="radio" name="TituloDePropiedad" value="Observado">
                                                </div>
                                                <div class="col-2 p-1">
                                                    Ok<input id="" class="input" type="radio" name="TituloDePropiedad" value="Ok">
                                                </div>
                                            </div>
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
                                
                                </div>
                            
                            </div>
                            <div class="card p-3 mt-3 border-secondary">
                                <div class="card-header bg-primary text-white">
                                    <label for="DocumentacionSociedad" class="mx-auto">
                                        Documentación de la Sociedad</label>
                                         
                                </div>
                                <div class="card-body">
                                    <div class="row ">
                                        <div class="col-12 border">
                                            <div class="card-title text-primary">
                                                <label for="ActaConstitutiva">
                                                    Acta
                                                    constitutiva</label>
                                            </div>
                                            <div class="card-text">
                                                <div class="input-group ">
                                                    <div class="col-2.5 p-1">
                                                        Sin Presentar<input id="" class="input" type="radio" name="ActaConstitutiva" value="Sin presentar">
                                                    </div>
                                                    <div class="col-2.5 p-1">
                                                        En Gestión<input id="" class="input" type="radio" name="ActaConstitutiva" value="EnGestion">
                                                    </div>
                                                  
                                                    <div class="col-2.5 p-1">
                                                        Observado<input id="" class="input" type="radio" name="ActaConstitutiva" value="Observado">
                                                    </div>
                                                    <div class="col-2 p-1">
                                                        Ok<input id="" class="input" type="radio" name="ActaConstitutiva" value="ok">
                                                    </div>
                                                    <div class="col-2 p-1">
                                                        NC<input id="" class="input" type="radio" name="ActaConstitutiva" value="NC">
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                        <div class="col-12 border">
                                            <div class="card-title text-primary">
                                                <label for="ActaCargoVigente">
                                                    Acta en cargo
                                                    vigente</label>
                                            </div>
                                            <div class="card-text">
                                                <div class="input-group ">
                                                    <div class="col-2.5 p-1">
                                                        Sin Presentar<input id="" class="input" type="radio" name="ActaCargoVigente" value="Sin presentar">
                                                    </div>
                                                    <div class="col-2.5 p-1">
                                                        En Gestión<input id="" class="input" type="radio" name="ActaCargoVigente" value="EnGestion">
                                                    </div>
                                                  
                                                    <div class="col-2.5 p-1">
                                                        Observado<input id="" class="input" type="radio" name="ActaCargoVigente" value="Observado">
                                                    </div>
                                                    <div class="col-2 p-1">
                                                        Ok<input id="" class="input" type="radio" name="ActaCargoVigente" value="ok">
                                                    </div>
                                                    <div class="col-2 p-1">
                                                        NC<input id="" class="input" type="radio" name="ActaCargoVigente" value="NC">
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-12 border">
                                            <div class="card-title text-primary">
                                                <label for="DniComitente">
                                                    DNI del
                                                    Comitente: <%= tareasporcarpeta.DniComitente%></label>
                                            </div>
                                            <div class="card-text">
                                                <input type="textinput" name="DniComitente" id="DniComitente" maxlength="10"
                                                    placeholder="<%= tareasporcarpeta.DniComitente%>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card p-3 mt-3 border-secondary">
                                <div class="card-header bg-primary text-white">
                                    Documentación Contractual
                                </div>
                                <div class="row ">
                                    <div class="col-12 border">
                                        <div class="card-title text-primary">
                                            <label for="Cotizacion">
                                                Cotización</label>
                                        </div>
                                        <div class="card-body">
                                            <div class="input-group ">
                                                <div class="col-2.5 p-1">
                                                    Sin Presentar<input id="" class="input" type="radio" name="Cotizacion" value="Sin presentar">
                                                </div>
                                                <div class="col-2.5 p-1">
                                                    En Gestión<input id="" class="input" type="radio" name="Cotizacion" value="EnGestion">
                                                </div>
                                                                                    
                                                <div class="col-2 p-1">
                                                    Ok<input id="" class="input" type="radio" name="Cotizacion" value="ok">
                                                </div>
                                                
                                            </div>
                                           
                                        </div>
                                    </div>
                                    <div class="col-12 border">
                                       
                                        <div class="card-title text-primary">
                                            <label for="Contrato"> Contrato
                                                preliminar</label>
                                        </div>
                                        <div class="card-body">
                                        <div class="card-text">
                                            <div class="input-group ">
                                                <div class="col-2.5 p-1">
                                                    Sin Presentar<input id="" class="input" type="radio" name="ContratoPreliminar" value="Sin presentar(Preliminar)">
                                                </div>
                                                <div class="col-2.5 p-1">
                                                    En Gestión<input id="" class="input" type="radio" name="ContratoPreliminar" value="EnGestion(Preliminar)">
                                                </div>
                                              
                                                
                                                <div class="col-2 p-1">
                                                    Ok<input id="" class="input" type="radio" name="ContratoPreliminar" value="ok(Preliminar)">
                                                </div>
                                                
                                            </div>
                                        </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                onclick="CerrarModal()">Cerrar</button>
                            <button type="submit" form="actPrelCarpEcogas" class="btn btn-primary fixed-bottom">Guardar
                                Cambios</button>
                        </div>
                </div>
            </div>
        </div>
</th>