<table id="TablaObras" class="table table-bordered table-inverse table-responsive" style="display: none; width:100%;">
    <thead class="thead-default">
        <tr>
            <th>Obra</th>
            <th>N°</th>
            <th>Estado</th>
            <th>Monto contrato</th>
            <th>Precio Cuota</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr>
            <%cobroObras.forEach((obra)=>{  %>
                <td>
                    <%= obra.NombreObra%>
</td>
                <td>
                    <%= obra.NombreCliente%>
                    </td>
        <% })%>
            </tr>
            
        </tbody>
</table>
