<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/paginas/AdministracionEcogas/partials/header.ejs')%>
</head>
<body>
    <h1 class="text-center"> Lo sentimos, no hemos podido encontrar la pagina.
    </h1>
    <div class="card">
        <div class="card-body text-center">
          
          <a href="/adminecogas">
          <button class="btn btn-outline-primary" value="Administración Ecogas">Administración
            Ecogas</button>
          </a>
          <button class="btn btn-outline-primary" value="Administración Ecogas" type="submit">Administración
            General</button>
          <button class="btn btn-outline-primary" value="Administración Ecogas" type="submit">Compra-Venta</button>
          <button class="btn btn-outline-primary" value="Administración Ecogas">Recursos Humanos</button>
          <button class="btn btn-outline-primary" value="Administración Ecogas">Finanzas
          </button>
          <button class="btn btn-outline-primary" value="Administración Ecogas">Nuevos Proyectos
          </button>
        </div>
      </div>
      <img class="rounded mx-auto d-block" src="http://jovalsa.com/wp-content/uploads/2020/08/cropped-Joval-Web.png"alt="logo">
</body>
</html>