<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.css">
  <script src="../bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <title>Joval Administración</title>
</head>

<body class="">
  <div class="container ">
    <div class="row ">
      <img id="LogoJoval" class="img-fluid w-25 mx-auto text-center" src="http://jovalsa.com/wp-content/uploads/2020/08/cropped-Joval-Web.png"alt="logo">
      
    <div class="card ">
        <div class="card-body text-center">
          
          <a href="/adminecogas">
          <button class="btn btn-primary" value="Administración Ecogas">Administración
            Ecogas</button>
          </a>
          <a href="/admingral">
          <button class="btn btn-danger" value="Administración Ecogas" type="submit">Administración
            General</button>
          </a>
          <a href="/compraventa">
          <button class="btn btn-info" value="Administración Ecogas" type="submit">Compra-Venta</button>
        </a>
          <button class="btn btn-secondary" value="Administración Ecogas" disabled>Recursos Humanos</button>
          <a href="/Finanzas">
          <button class="btn btn-danger" value="Administración Ecogas">Finanzas
          </button>
        </a>
          <button class="btn btn-secondary" value="Administración Ecogas" disabled> Nuevos Proyectos
          </button>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="list-group">
      <div class="table-responsive">
        <table class="table table-primary">
          <thead>
            <h1 class="text-center">Albacaución</h1>
            <tr>
              <th scope="col">Póliza N°</th>
              <th scope="col">Descripción</th>
              <th scope="col">Fecha de proximo vencimiento</th>
              <th>Tipo</th>
            </tr>
          </thead>
          <tbody>
            
          <% albacaucion.forEach((polizaAlba)=>{%>
            <tr class="">
            <td><%=polizaAlba.NumeroPoliza%></td>
            <td><%=polizaAlba.NombreAsegurado%></td>
            <%polizaAlba.ProximaRefacturacion=moment(polizaAlba.ProximaRefacturacion).locale('es').format("DD-MM-YYYY");%>
            <td><%=polizaAlba.ProximaRefacturacion%></td>
            <td><%=polizaAlba.Riesgo%></td>
          </tr>
            <%})%>
            

              
            
          </tbody>
        </table>
      </div>
      
        
      </div>
    </div>
  </div>
</body>
<style>
  #LogoJoval:hover {
    transition:all 2s ease-in-out;
    transition-duration: 2s;
    animation-iteration-count: infinite;
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(360deg);
  transform-style: preserve-3d;}  
  
  </style>
</html>