
@media print {
    body {
        visibility: block;
        border-style: solid;
        border-width: 1ch;
    }
#LogoPrint{
    margin-left: auto;
    margin-right: auto;
    width:25%;
    height: auto;
}
    .Imprimible {
        display: block;
        visibility: visible;
    }

    .noImprimible {
        display: none;
        visibility: hidden;
    }
}
@media screen{
    .Imprimible{
        display: none;
        visibility: hidden;
        
}
#LogoPrint{
    display: none;
}
}