<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finanzas-Clientes</title>
</head>

<body>
    <div class="card">
        <div class="card-title">
            <h3 class="text-center"> Clientes de obra <%=Clientes[0].NombreObra %>
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form action="/Pagodeobras/clientes/FormularioCliente" method="get">
                        Ingresar nuevos clientes
                        <button id="plantilla" type="submit">Plantilla</button>
                    </form>
                </div>
                <div class=" col">
                    <form id="FormularioArchivo" action="/Pagodeobras/clientes/cargarArchivoConClientes"name="FormularioArchivoExcel" method="POST" enctype="multipart/form-data">

                        Cargar archivo de clientes
                        <input name="NombreCarpeta" value="<%=Clientes[0].NombreObra %>" type="text" hidden>
                        <input class="form-control" type="file" name="ClientesACargar" id="Archivo">
                        <button type="button" class="btn-sm m-1 btn-outline-success"id="BotonCargarArchivo" >Enviar</button>
                       <div class="progress progress-bar bg-secondary">
                        <progress class="progress" id="BarraProgresoArchivo"role="progressbar" style="width: 100%;"value="0"  valuemax="100">
                        </progress>
                    </div>
                    </form>
                </div>
                <div id="Mensaje" class="col">

                </div>
            </div>
        </div>
    </div>



    Nombre de obra => <h1>
        <%= Clientes[0].NombreObra %>
    </h1>
    <% if(Clientes[0].NombreCliente){ %>
        <h2>
            Se ha detectado contenido en la BD.
        </h2>
        <%}else{%>
            <h2>Esta carpeta no contiene clientes cargados aún</h2>

            <%}%>
</body>

<script>
    //     $('#BotonCargarArchivo').on('click',setTimeout( function () {
    // document.FormularioArchivoExcel.submit();
    // },10000));

    $('#BotonCargarArchivo').click(function() {
        console.log("intentando cargar archivo con ajax");
    let form = document.querySelector('#FormularioArchivo');
    // form.addEventListener('submit', function () {
        let inputfile = document.querySelector('#Archivo').files[0];
        let progressbar = document.querySelector('#BarraProgresoArchivo');
        let formdata = new FormData();
        formdata.append("ClientesACargar", inputfile);
        let ajax = new XMLHttpRequest();
        ajax.upload.addEventListener("#BarraProgresoArchivo", function (e) {
            let porcentaje = ((e.loaded / e.total) * 100);
            console.log(porcentaje);
            progressbar.value = Math.round(porcentaje);
        });
        // ajax.open("POST", "/Pagodeobras/clientes/cargarArchivoConClientes");
        // ajax.send(formdata);
    });
// });
</script>
</html>