<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/menusuperior.ejs'); %>
    <form action="GuardarClienteFinanza" method="get">
        <select name="CarpetaDelCliente" id="CarpetaDelCliente">
           Aca tiene que ir una opcion por cada carpeta que exista, de forma de que el usuario pueda elegir a que carpeta anexar el cliente.
           Tiene que venir predefinido la carpeta desde la que viene.
        </select>
    </form>
</body>
</html>