<form action="/GuardarPolizaAlbacaucion" method="post">
    <div class="form-group mb-6 p-2">
      
        <div id="nuevaPoliza"class="container border md-center " style="display:none ;">
        <h2 class="text-center">Nueva póliza</h2>          
        <div class="row justify-content-md-center ">
            <div class="col ">
                
                <label class="fw-bold" for="Aseguradora">Aseguradora</label>
                <select name="Aseguradora" id="Aseguradora">Aseguradora
                <option class="m-1" value="Albacaucion">Albacaución</option>
            </select>
            <br>
                <label class="fw-bold bg-warning" for="NombreObra">Obra a la que corresponde</label>
                <select class="m-1 " name="NombreObra" id="NombreObra">Seleccione la obra a la cual pertenece
                <%obras.forEach((obrasNombre)=>{%>
                    <option value="<%=obrasNombre.Nombre%>"> <%=obrasNombre.Nombre%></option>
                    <%})%>
                    <option value="otro" selected>
                        Otro tipo de obra</option>
                </select>
                <br>
                <label class="fw-bold" for="Asegurado">Asegurado</label>
                <input  class="m-1" required type="text" name="Asegurado" id="Asegurado">

                <br>
                <label class="fw-bold" for="NPoliza">Número de póliza</label>
                <input  class="m-1" required type="number" name="NPoliza" id="NPoliza">
                <br>
                <label class="fw-bold" for="Fecha
                EmisionPoliza">Fecha de emisión</label>
                <input required type="date" class=" m-1" id="FechaEmisionPoliza" name="FechaEmisionPoliza"
                  placeholder="Ingrese la fecha de emision ">
        </div>
            <div class="col ">
             <div class="row">
                <label class="fw-bold" for="DescripcionRiesgo">Descripción de riesgo</label>
                <select name="DescripcionRiesgo" id="DescripcionRiesgo">Seleccione el tipo de poliza
                    <option value="EjecucionContrato"> Ejecución de contrato</option>
                    <option value="FondoReparo"> Fondo de reparo</option>
                    <option value="GarantiaAnticipo"> Garantía de anticipo</option>
                    <option value="GarantiaAcopio"> Garantía de acopio</option>
                        <option value="MantenimientoOferta"> Mantenimiento de oferta</option>
            </select>
        </div>
        <div class="row">


                  <label class="fw-bold" for="Valor">Valor a pagar</label>
                  <input required type="number" class="m-1" id="Valor" name="Valor"
                    placeholder="Ingrese el valor de la póliza ">
                </div>
                <div class="row">
                    <label class="fw-bold" for="VigenciaPoliza">Vigencia de la poliza</label>
                    <select name="VigenciaPoliza" id="VigenciaPoliza">Seleccione la vigencia de la poliza
                    <option value="Trimestral">Trimestral</option>
                    <option value="Semestral">Semestral</option>
                    <option value="Anual">Anual</option>
                </select>
                </div>
              <div class="row">
                <label class="fw-bold" for="MontoAsegurado">Monto Asegurado</label>
                <input required type="number" class="m-1" id="MontoAsegurado" name="MontoAsegurado"
                  placeholder="Ingrese el MontoAsegurado de la póliza "> 
              </div>
              <div class="row">
                <label class="fw-bold" for="Descripcion">Descripción</label>
                <textarea type="textarea" name="Descripcion" id="Descripcion" rows="7" cols="5" placeholder="Ingrese una breve descripción del riesgo"> </textarea>
              </div>
                    </div>
        </div>
        <div class="row-6 text-center mt-1">
            <div class="btn-group">
                <button class="btn btn-success" type="submit">Guardar póliza</button>
                <button class="btn btn-danger">Cancelar</button>
            </div>
            </div>
        </div>
      </div>
      </div>
    </form>