<!-- <head> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Moment.js: -->
    <script src="./moment/moment.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/moment.min.js"></script> -->
    <!-- Locales for moment.js-->
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.11.3/sorting/datetime-moment.js"></script>
    <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/locale/es.js"></script>
    <!-- Datatable -->
  
  <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css">
    <script src="./bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Datatable  -->
    <link rel="stylesheet" type="text/css" href="./DataTables/datatables.css"/>
  
    <script type="text/javascript" src="./DataTables/datatables.js"></script>
   
   
  
    <title class="text-center">Administración Ecogas</title>
  <!-- </head> -->