<link rel="stylesheet" href=".\bootstrap\dist\css\bootstrap.css">
<script src=".\bootstrap\dist\js/bootstrap.bundle.min.js"></script>
<script src="./moment/moment.min.js"></script>
 <!-- Datatable  -->
 <link rel="stylesheet" type="text/css" href="./DataTables/datatables.min.css"/>
 <script type="text/javascript" src="./DataTables/datatables.min.js"></script>
<div class="container">
  <div class="row">
    <div class="col">
      <a href="/"><img class="img-fluid w-25 mx-auto"
          src="http://jovalsa.com/wp-content/uploads/2020/08/cropped-Joval-Web.png" alt="logo"></a>
    </div>
    <div class="col">
    </div>
    <div class="col">
      <h5>Version de prueba (alpha 2.0)</h5>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-sm navbar-light bg-primary sticky-sm-top ">
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white " type="button" href="/adminecogas">Administración ecogas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/estadogeneral">Estado General</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/contactos">Contactos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/interferencias">Interferencias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/ComunicacionAlSistema">Comunicacion al sistema</a>
      </li>
    </ul>
  </div>
</nav>