<link rel="stylesheet" href=".\bootstrap\dist\css\bootstrap.css">
<script src=".\bootstrap\dist\js/bootstrap.bundle.min.js"></script>
<script src="./moment/moment.min.js"></script>
<script
src="https://code.jquery.com/jquery-3.6.0.js"
integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
crossorigin="anonymous"></script>
 <!-- Datatable  -->
 <link rel="stylesheet" type="text/css" href="./DataTables/datatables.min.css"/>
 <script type="text/javascript" src="./DataTables/datatables.min.js"></script>
<div class="container">
  <div class="row">
    <div class="col">
      <a href="/index"><img class="img-fluid w-25 mx-auto "
          src="http://jovalsa.com/wp-content/uploads/2020/08/cropped-Joval-Web.png" alt="logo" id="LogoJoval"></a>
    </div>
    <div class="col">
    </div>
    <div class="col mx-auto">
      <h5>Version de prueba (alpha 2.0)</h5>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-sm navbar-light bg-primary sticky-sm-top">
  <div class="container-fluid">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#BarraNavegacion" aria-controls="BarraNavegacion" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="BarraNavegacion">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="btn btn-primary  text-white  " type="button" href="/adminecogas">Administración ecogas</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary  text-white " href="/estadogeneral">Estado General</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary  text-white " href="/contactos">Contactos</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary  text-white " href="/vencimientos">Vencimientos</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary  text-white " href="/ComunicacionAlSistema">Comunicacion al sistema</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary  text-white " href="/GuiaParaElNuevo">Guia</a>
      </li>
    </ul>
  </div>
</div>
</nav>