<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finanzas-Clientes</title>
</head>

<body>
    <div class="card">
        <div class="card-title">
            <h3 class="text-center"> Clientes por lotes de obra: <%=Clientes[0].NombreObra %>
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form action="/Pagodeobras/clientes/FormularioCliente" method="get">
                        Plantilla para nuevos clientes
                        <button class="btn btn-danger" id="plantilla" type="submit">Plantilla</button>
                    </form>
                </div>
                <div class=" col">
                    <form id="FormularioArchivo" action="/Pagodeobras/clientes/cargarArchivoConClientes"
                        name="FormularioArchivoExcel" method="POST" enctype="multipart/form-data">

                        Cargar archivo de clientes
                        <input name="NombreCarpeta" value="<%=Clientes[0].NombreObra %>" type="text" hidden>
                        <input class="form-control" id="Archivo" type="file" name="ClientesACargar">
                        <button type="button" class="btn-sm m-1 btn-outline-success"
                            id="BotonCargarArchivo">Enviar</button>
                        <div class="progress progress-bar bg-secondary">
                            <progress class="progress" id="BarraProgresoArchivo" role="progressbar" style="width: 100%;"
                                value="0" valuemax="100">asd
                            </progress>
                        </div>
                    </form>
                </div>
                <div id="Mensaje" class="col">

                </div>
            </div>
        </div>
    </div>



    Nombre de obra => <h1>
        <%= Clientes[0].NombreObra %>
    </h1>

</body>

<script>
    //     $('#BotonCargarArchivo').on('click',setTimeout( function () {
    // document.FormularioArchivoExcel.submit();
    // },10000));

    $('#BotonCargarArchivo').click(function () {
        // $('#Archivo').on("change",function(){
        console.log("intentando cargar plantilla de clientes por lotes, al servidor, con ajax");
        let form = document.querySelector('#FormularioArchivo');
        // form.addEventListener('submit', function () {
            let inputfile = document.querySelector('#Archivo').files[0]; //Selecciona el archivo cargado
            let progressbar = document.querySelector('#BarraProgresoArchivo'); //Selecciona la barra de progreso

            let formdata = new FormData(); //Crea un nuevo formulario
            formdata.append("ClientesACargar", inputfile); //Aparece el nuevo formulario que incluye el archivo a cargar en el servidor.
            var ajax = new XMLHttpRequest();
            console.log("//////////////////SE PROCEDE A INTENTAR EL ajax.addEventListener ///////////////////");

            //ACTUALMENTE, EL CODIGO DE LAS LINEAS INFERIORES NO REACCIONA, HAY QUE ARREGLARLO. 
            ajax.addEventListener('progress', (e) => {
                console.log("mostrando barra progreso");
                let porcentaje = ((e.loaded / e.total) * 100);
                console.log(porcentaje);
                progressbar.value = Math.round(porcentaje);

            },false);
            // ajax.open("POST", "/Pagodeobras/clientes/cargarArchivoConClientes");
            // ajax.send(formdata);
        // });
    });
</script>

</html>