<div class="modal fade" id="modalNuevaTarea" tabindex="-1" role="dialog" aria-labelledby="modalNuevaTarea"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNuevaTareaTitleId"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="formActualizarTareaCarpeta" action="/ActualizarHistorialTareas" method="POST">
                    <input type="number" name="idObra" id="IdDeLaObra" hidden>
                    <!-- Tareas de la carpeta -->
                    <div class="container-fluid mb-2">
                        <div class="card-body">
                            <div class="row">
                            <div class="col-2">
                                <label for="" class="form-label">Obra:</label>
                                <select id="SelectObra" class="form-select form-select-sm mb-2" name="Obra"
                                    id="">
                                    <option value="" selected></option>
                                </select>
                            </div>
                            <div id="bodyCargarNuevaTareaAdminecogas" class="">
                            <div class="form-group">
                                Etapa:
                                <input class="EtapaTareaRadio form-check-input" required type="radio"
                                    name="EtapaTarea" id="EtapaTareaPreliminar" value="Preliminar">
                                <label class="form-check-label" for="inlineRadio1">Preliminar</label>
                                <input class="EtapaTareaRadio form-check-input" type="radio"
                                    name="EtapaTarea" id="EtapaTarea1raparte" value="1ra parte">
                                <label class="form-check-label" for="inlineRadio2">1° parte</label>
                                <input class="EtapaTareaRadio form-check-input" type="radio"
                                    name="EtapaTarea" id="EtapaTarea2daparte" value="2da parte">
                                <label class="form-check-label" for="inlineRadio3"> 2° parte</label>
                                <input class="EtapaTareaRadio form-check-input" type="radio"
                                    name="EtapaTarea" id="EtapaTareaObras" value="Obras">
                                <label class="form-check-label" for="inlineRadio4">Obras </label>
                                <input class="EtapaTareaRadio form-check-input" type="radio"
                                    name="EtapaTarea" id="EtapaTareaCaos" value="Caos">
                                <label class="form-check-label" for="inlineRadio5">Caos </label>

                                <input class="EtapaTareaRadio form-check-input" type="radio"
                                    name="EtapaTarea" id="EtapaTareaFinalizada" value="Finalizada">
                                <label class="form-check-label" for="inlineRadio6">Finalizada </label>
                            </div>

                           <div class="col"></div>
                           <div class="row p-2">
                            <div class="mb-3">
                                <label for="" class="form-label">Tarea</label> <small class="form-text text-muted">Ordenadas alfabéticamente</small>
                                <select id="Selecttarea" class="form-select form-select-sm" name="Tarea"
                                    id="">

                                </select>
                            </div>
                            <div class="mb-3 divSelectSubtarea" style="display: none;">
                                <label for="" class="form-label">Subtarea</label>
                                <select class="form-select form-select-sm" name="Subtarea" id="SelectSubtarea" >
                                    <option selected>Seleccione alguna opción</option>
                                    
                                </select>
                            </div>
                            <div id="checkEstado32" class="mb-3">
                            </div>
                          
                            
                            
                        </div>
                        <hr>
                        <div class="row ">
                            <div class="col  text-center">
                                <h4>
                                    Responsable de tarea:
                                </h4>
                                <div class="row">
                                <div class="col -2">
<div class="mb-3">
<label for="" class="form-label">Cantidad de responsables</label>
<select class="form-select form-select-sm" name="CantidadResponsables" id="CantidadResponsables">
<option selected></option>
<option value="1">1</option>
<option value="2">Multiple</option>
</select>
</div>
</div>
<div class="col -8">
<div class="form-check responsablesTareaDiv">

</div>
                           
                            </div>
                            <div class="col-2"></div>
                        </div>
                            </div>
                        </div>

                        <div class="row p-1 ">
                            <div class="input-group">
                                <span class="input-group-text" id="TareaRealizada">Tarea Realizada:</span>

                                <input class="form-control" type="text" name="TareaRealizada"
                                    id="TareaRealizada" placeholder="Ingrese ultima tarea realizada"
                                    aria-describedby="TareaRealizada">
                            </div>

                        </div>
                        <div class="row p-1">
                            <div class="input-group">
                                <span class="input-group-text" id="ProximaTarea">Proxima Tarea:</span>

                                <input class="form-control" type="text" name="ProximaTarea" id="ProximaTarea"
                                    placeholder="Ingrese la proxima tarea" aria-describedby="ProximaTarea">
                            </div>

                        </div>
                        <div class="row p-1">
                            <div class="input-group">
                                <span class="input-group-text" id="Fecha_limite">Fecha Limite:</span>

                                <input class="form-control" type="date" name="Fecha_limite" id="Fecha_limite"
                                    placeholder="Ingrese ultima tarea realizada"
                                    aria-describedby="Fecha_limite">
                            </div>

                        </div>
                        </div>
                        </div>
                            
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <h4 id="infoServidor" class=""></h4>
                        <button id="btnActualizarTarea" type="submit" class="btn btn-primary text-center" >Actualizar
                            Tarea</button>

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script>
    $('.EtapaTareaRadio').click(function () {
        var etapaSeleccionada = $(this).val();
        if (etapaSeleccionada == "Preliminar") {

            $('#SelectSubtarea').empty();
            $('#Selecttarea').empty();
            $('#Selecttarea').append("<option value='X' selected>Seleccione una opción</option>");
          $('#Selecttarea').append("<option value='DocumentacionContractual' >Documentación Contractual</option>");
            $('#Selecttarea').append("<option value='DocumentacionDelTerreno' >Documentación del terreno</option>");
            $('#Selecttarea').append("<option value='DocumentacionSociedad' >Documentación Sociedad</option>");

        }
        if (etapaSeleccionada == "1ra parte") {
            $('#Selecttarea').empty();
            $('#SelectSubtarea').empty();
            $('#Selecttarea').append("<option value='X' selected>Seleccione una opción</option>");
            $('#Selecttarea').append("<option value='Comercial'>Comercial</option>");
            $('#Selecttarea').append("<option value='DocumentacionAmbiente'>Documentación ambiente</option>");
            $('#Selecttarea').append("<option value='DocumentacionTerreno'>Documentación del terreno</option>");
            $('#Selecttarea').append("<option value='PermisosEspeciales'>Permisos especiales</option>");
            $('#Selecttarea').append("<option value='Tecnica'>Tecnica</option>");
        }
        if (etapaSeleccionada == "2da parte") {
            $('#Selecttarea').empty();
            $('#SelectSubtarea').empty();
            $('#Selecttarea').append("<option value='X' selected>Seleccione una opción</option>");
            $('#Selecttarea').append("<option value='Ambiente'>Ambiente</option>");
            $('#Selecttarea').append("<option value='Avisos'>Avisos</option>");
            $('#Selecttarea').append("<option value='DocumentacionObras'>Documentación obras</option>");
            $('#Selecttarea').append("<option value='Interferencias'>Interferencias</option>");
            $('#Selecttarea').append("<option value='Matriculas'>Matriculas</option>");
            $('#Selecttarea').append("<option value='Seguridad'>Seguridad</option>");
            $('#Selecttarea').append("<option value='Permisos'>Permisos</option>");

        }
        if (etapaSeleccionada == "Obras") {
            $('#Selecttarea').empty();
            $('#SelectSubtarea').empty();
            $('#Selecttarea').append("<option value='X' selected>Seleccione una opción</option>");
            
            $('#Selecttarea').append("<option value='ComunicacionObras'>Comunicación Obras</option>");
            $('#Selecttarea').append("<option value='DatosInspeccion'>Datos Inspección</option>");
            $('#Selecttarea').append("<option value='DocumentacionPresentadaInspeccion'>Documentación Presentada Inspección</option>");

        }
        if (etapaSeleccionada == "Caos") {
            $('#Selecttarea').empty();
            $('#SelectSubtarea').empty();
            $('#Selecttarea').append("<option value='X' selected>Seleccione una opción</option>");
            $('#Selecttarea').append("<option value='FinObra'>Fin de obra</option>");
            $('#Selecttarea').append("<option value='PresentacionFinal'>Presentación Final</option>");
            $('#Selecttarea').append("<option value='HabilitacionFinal'>Habilitación Final </option>");
        }
        if (etapaSeleccionada == "Finalizada") {
            $('#Selecttarea').empty();
            $('#SelectSubtarea').empty();
            $('#Selecttarea').append("<option value='X' selected>Seleccione una opción</option>");
            $('#Selecttarea').append("<option value='Fin'>Fin </option>");

        }

    })
    $('#Selecttarea').change(function () {
        const valorSeleccionado= $(this).val();
if(valorSeleccionado==='DocumentacionContractual'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option selected>Seleccione alguna opción</option>');
   $('#SelectSubtarea').append('<option value="Cotizacion">Cotización</option>');
    $('#SelectSubtarea').append('<option value="ContratoPreliminar">Contrato Preliminar</option>');
}
if(valorSeleccionado==='DocumentacionDelTerreno'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option selected>Seleccione alguna opción</option>');
    $('#SelectSubtarea').append('<option value="Mensura">Mensura</option>');
    $('#SelectSubtarea').append('<option value="TituloDePropiedad">Título de propiedad</option>');

}
if(valorSeleccionado==='DocumentacionSociedad'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option selected>Seleccione alguna opción</option>');
    $('#SelectSubtarea').append('<option value="ActaConstitutiva">Acta constitutiva</option>');
    $('#SelectSubtarea').append('<option value="ActaCargoVigente">Acta cargo vigente</option>');
    $('#SelectSubtarea').append('<option value="DNIComitente">DNI comitente</option>');

}
if(valorSeleccionado==='Comercial'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option selected>Seleccione alguna opción</option>');
    $('#SelectSubtarea').append('<option value="Contrato">Contrato</option>');
    $('#SelectSubtarea').append('<option value="Fechafirmacontrato" disabled>Fecha firma contrato</option>');
    $('#SelectSubtarea').append('<option value="Presupuesto">Presupuesto</option>');
    $('#SelectSubtarea').append('<option value="Sucedaneo">Sucedáneo</option>');
    $('#SelectSubtarea').append('<option value="NotaDeExcepcion">Nota de excepción</option>');
}
if(valorSeleccionado==='DocumentacionAmbiente'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option selected>Seleccione alguna opción</option>');
    $('#SelectSubtarea').append('<option value="CuestionarioRelevamientoAmbiental">Cuestionario de relevamiento ambiental</option>');
    $('#SelectSubtarea').append('<option value="DDJJInicialAmbiental">DDJJ inicial de ambiente</option>');
    $('#SelectSubtarea').append('<option value="ListaVerificacionAmbiental">Lista verificacion ambiental</option>');
    $('#SelectSubtarea').append('<option value="EstudioImpactoAmbiental">Estudio de impacto ambiental previo</option>');
}
if(valorSeleccionado==='DocumentacionTerreno'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option selected>Seleccione alguna opción</option>');
    $('#SelectSubtarea').append('<option value="Mensura">Mensura</option>');
    $('#SelectSubtarea').append('<option value="TituloPropiedad">Titulo de propiedad</option>');
}
if(valorSeleccionado==='PermisosEspeciales'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option selected>Seleccione alguna opción</option>');
    $('#SelectSubtarea').append('<option value="Permisos">Permiso especial</option>');
}
if(valorSeleccionado==='Tecnica'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option selected>Seleccione alguna opción</option>');
    $('#SelectSubtarea').append('<option value="PCrevisado">PC revisado</option>');
    $('#SelectSubtarea').append('<option value="PlanoTipo">Plano tipo</option>');
}
if(valorSeleccionado==='Ambiente'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option selected>Seleccione alguna opción</option>');
    $('#SelectSubtarea').append('<option value="EstudioImpactoAmbiental">Estudio de impacto ambiental</option>');
    $('#SelectSubtarea').append('<option value="CronogramaAmbiente">Cronograma ambiental</option>');
    $('#SelectSubtarea').append('<option value="NotaCumplimentoNormativa">Nota de cumplimento de normativa vigente</option>');
    $('#SelectSubtarea').append('<option value="DDJJNAG153">DDJJ NAG 153</option>');
    
}
if(valorSeleccionado==='Avisos'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option selected>Seleccione alguna opción</option>');
    $('#SelectSubtarea').append('<option value="AvisoInicioObraART">Aviso de inicio en ART</option>');
    $('#SelectSubtarea').append('<option value="AvisoInicioObraIERIC">Aviso de inicio a IERIC</option>');
    $('#SelectSubtarea').append('<option value="AvisoInicioEfectivo">Aviso de inicio efectivo</option>');
    

}
if(valorSeleccionado==='DocumentacionObras'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option selected>Seleccione alguna opción</option>');
    $('#SelectSubtarea').append('<option value="SolicitudInicioObras">Solicitud de inicio de obras</option>');
    $('#SelectSubtarea').append('<option value="CertificadoRT">Certificado del RT</option>');
}
if(valorSeleccionado==='Interferencias'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option selected>Seleccione alguna opción</option>');
    $('#SelectSubtarea').append('<option value="intTelefonica">Telefonica/Movistar</option>');
    $('#SelectSubtarea').append('<option value="intClaro">Claro</option>');
    $('#SelectSubtarea').append('<option value="intAgua">Agua</option>');
    $('#SelectSubtarea').append('<option value="intCloacas">Cloacas</option>');
    $('#SelectSubtarea').append('<option value="intElectricidad">Electricidad</option>');
    $('#SelectSubtarea').append('<option value="intArnet">Arnet</option>');
    $('#SelectSubtarea').append('<option value="intArsat">Arsat</option>');
    $('#SelectSubtarea').append('<option value="intTelecom">Telecom</option>');

}
if(valorSeleccionado==='Matriculas'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option selected>Seleccione alguna opción</option>');
    $('#SelectSubtarea').append('<option value="MatriculaFusionista">Fusionista</option>');
    $('#SelectSubtarea').append('<option value="MatriculaSoldador">Soldador</option>');
}
if(valorSeleccionado==='Seguridad'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option selected>Seleccione alguna opción</option>');
    $('#SelectSubtarea').append('<option value="Programadeseguridad">Programa de seguridad</option>');
    $('#SelectSubtarea').append('<option value="CronogramaSyH">Cronograma de visitas SyH</option>');
    $('#SelectSubtarea').append('<option value="SeguroRC">Seguro de RC</option>');
    $('#SelectSubtarea').append('<option value="Monotributos">Monotributos</option>');
    $('#SelectSubtarea').append('<option value="SeguroAccidentesPersonales">Seguro de accidentes personales</option>');
}
if(valorSeleccionado==='Permisos'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option selected>Seleccione alguna opción</option>');
    $('#SelectSubtarea').append('<option value="Municipal">Municipal</option>');
    $('#SelectSubtarea').append('<option value="Irrigacion">Irrigacion</option>');
    $('#SelectSubtarea').append('<option value="Hidraulica">Hidraulica</option>');
    $('#SelectSubtarea').append('<option value="Ferrocarril">Ferrocarril</option>');
    $('#SelectSubtarea').append('<option value="DNV">DNV</option>');
    $('#SelectSubtarea').append('<option value="DPV">DPV</option>');
    $('#SelectSubtarea').append('<option value="YPF">YPF</option>');
    $('#SelectSubtarea').append('<option value="Privado">Privado</option>');
    $('#SelectSubtarea').append('<option value="OtrosPermisos">OtrosPermisos</option>');
}
if(valorSeleccionado==='ComunicacionObras'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option selected>Seleccione alguna opción</option>');
    $('#SelectSubtarea').append('<option value="OrdenServicio">Orden de servicios</option>');
    

}
if(valorSeleccionado==='DatosInspeccion'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option selected>Seleccione alguna opción</option>');
    $('#SelectSubtarea').append('<option value="InspectorAsignado">Inspector asignado</option>');
$('#SelectSubtarea').append('<option value="FechaInicioTrabajos" disabled>Fecha de comienzo de obras</option>');
    $('#SelectSubtarea').append('<option value="FechaFinDeObra"disabled>Fecha de fin de obras</option>');
}

if(valorSeleccionado==='DocumentacionPresentadaInspeccion'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option selected>Seleccione alguna opción</option>');
    $('#SelectSubtarea').append('<option value="Permisos">Permisos</option>');
    $('#SelectSubtarea').append('<option value="ActasDeInicio">Actas de inicio</option>');
    $('#SelectSubtarea').append('<option value="Interferencias">Interferencias</option>');
    $('#SelectSubtarea').append('<option value="LibroOrdenesServicio">Libro de ordenes de servicio</option>');
    $('#SelectSubtarea').append('<option value="LibroNotasPedido">Libro de notas de pedido</option>');
    $('#SelectSubtarea').append('<option value="PCEntregadoInspeccion">PC</option>');
    $('#SelectSubtarea').append('<option value="AvisoDeObra">Aviso de obra</option>');
    $('#SelectSubtarea').append('<option value="CronogramaFirmadoComitente">Cronograma firmado por el comitente</option>');

}
if(valorSeleccionado==='FinObra'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option value="PruebaHermeticidad">Prueba de hermeticidad</option>');
}
if(valorSeleccionado==='PresentacionFinal'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option selected>Seleccione alguna opción</option>');
    $('#SelectSubtarea').append('<option value="PlanosyCroquis">Planos y croquis</option>');
    $('#SelectSubtarea').append('<option value="ActasFinales">Actas finales</option>');
    $('#SelectSubtarea').append('<option value="ConformidadMunicipal">Conformidad municipal</option>');
$('#SelectSubtarea').append('<option value="Conformidad">Conformidad irrigacion</option>');
$('#SelectSubtarea').append('<option value="ConformidadHidraulica">Conformidad hidraulica</option>');
$('#SelectSubtarea').append('<option value="ConformidadFerrocarril">Conformidad ferrocarril</option>');
$('#SelectSubtarea').append('<option value="ConformidadDNV">Conformidad DNV</option>');
$('#SelectSubtarea').append('<option value="ConformidadDPV">Conformidad DPV</option>');
$('#SelectSubtarea').append('<option value="ConformidadPrivado">Conformidad privado</option>');
$('#SelectSubtarea').append('<option value="ConformidadOtrosPermisos">Conformidad de otros permisos</option>');
}
if(valorSeleccionado==='HabilitacionFinal'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option value="HabilitacionObra">Habilitacion de obra</option>');
}
if(valorSeleccionado==='Fin'){
    $('#SelectSubtarea').empty();
    $('#SelectSubtarea').append('<option selected></option>');
    $('#SelectSubtarea').append('<option value="CierreObra" >Obra finalizada. Se procede a dar el cierre de la obra.</option>');
}
      })
      $('#SelectSubtarea').on('change', ()=>{
    $('#checkEstado32').empty();
    $("#checkEstado32").append('<div class="form-check form-check-inline"><input class="TareaCarpetaCheck form-check-input" type="radio" name="TareaCarpetaCheck" value="SinPresentar" id=""><label class="form-check-label" for="TareaCarpetaCheck">Sin Presentar</label></div>');
    $("#checkEstado32").append('<div class="form-check form-check-inline"><input class="TareaCarpetaCheck form-check-input" type="radio" name="TareaCarpetaCheck" value="EnGestion" id=""><label class="form-check-label" for="TareaCarpetaCheck">En gestión</label></div>');
    $("#checkEstado32").append('<div class="form-check form-check-inline"><input class="TareaCarpetaCheck form-check-input" type="radio" name="TareaCarpetaCheck" value="Presentado" id=""><label class="form-check-label" for="TareaCarpetaCheck">Presentado</label></div>');
    $("#checkEstado32").append('<div class="form-check form-check-inline"><input class="TareaCarpetaCheck form-check-input" type="radio" name="TareaCarpetaCheck" value="Observado" id=""><label class="form-check-label" for="TareaCarpetaCheck">Observado</label></div>');
    $("#checkEstado32").append('<div class="form-check form-check-inline"><input class="TareaCarpetaCheck form-check-input" type="radio" name="TareaCarpetaCheck" value="ok" id=""><label class="form-check-label" for="TareaCarpetaCheck">Ok</label></div>');

})
$('#Selecttarea').change( function(){
   if($('#Selecttarea').val() !='X'){
    $('.divSelectSubtarea ').show();
   }else{
    $('.divSelectSubtarea ').hide();
   }
})
$(document).on('click', '.TareaCarpetaCheck', function() {
    var estado = $(this).val();
    var subtarea = $('#SelectSubtarea').val();
    var idObra= $('#SelectObra').val();
    var tarea= $('#Selecttarea').val();
    console.log(idObra);
    
    $.ajax({
        type: "POST",
        url: "/adminecogas/actualizarestadotarea/"+idObra+"/"+tarea+"/"+subtarea+"/"+estado+"",
       dataType: "dataType",
        success: function (response) {
       if(response=="ok"){
        $("#checkEstado32").append('<div class="text-success form-check form-check-inline"><div form-check-input" type="radio" name="TareaCarpetaCheck" id=""><i class="bi bi-check-lg"></i></div></div>');
       }     
        }
    });
})
    $('#formActualizarTareaCarpeta').submit(function (event) {
        event.preventDefault();
        var formData = $(this).serialize(); $.ajax({
            url: '/ActualizarHistorialTareas',
            type: 'POST',
            data: formData,
            success: function (data) {
                $('#infoServidor').empty();
                $('#infoServidor').removeClass('text-danger');
                $('#infoServidor').addClass('text-success');
                $('#infoServidor').html(data);
                

                setTimeout(() => {
                    $('#formActualizarTareaCarpeta')[0].reset();
                    
                    $('#infoServidor').removeClass('text-success');
                $('#infoServidor').html('Puede volver a cargar otra tarea.');

                    console.log("Ingreso al success");
                }, 2000);
            }, error: function (data) {
                $('#infoServidor').empty();
                $('#infoServidor').removeClass('text-success');
                $('#infoServidor').addClass('text-danger');
                $('#infoServidor').html('No se pudo cargar la tarea en el historial. Por favor, intente denuevo en una nueva ventana del navegador.');
                

                setTimeout(() => {
                    console.log("Ingreso al error");
                }, 2000);
            }
        })
    })
  $(document).ready(function () {
    $.ajax({
        type: "GET",
        url: "/data/Empleados",
        dataType: "JSON",
        success: function (response) {
            if(response){
$('.responsablesTareaDiv').empty();
response.forEach(element => {
    $('.responsablesTareaDiv').append('<label for="" class="form-label">'+element.Nombre+'</label>'
+'<input type="radio"class="form-check-radio form-check-inline responsablesTarea" name="ResponsableDeTarea" value="'+element.Nombre+'" id="" aria-describedby="helpId" placeholder="">');    

});

            }
        }
    });

    

  })
</script>