
<div class="modal fade" id="modalVerTransferencias" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Transferencias recibidas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <div class="table-responsive-sm">
                <table class="table table-primary table-bordered" id="tablaTransferenciasRecibidas">
                    <thead>
                        <div class="button-group" >
                        <button id="btnFiltrarTransferenciasRecibidasTransferencias" class="btn btn-sm btn-primary">Transferencias</button>
                        <button id="btnFiltrarTransferenciasRecibidasEfectivo" class="btn btn-sm btn-primary">Efectivo</button>
                        <button id="btnFiltrarTransferenciasRecibidasCheque" class="btn btn-sm btn-primary">Cheque</button>
                        <button id="btnLimpiarFiltroTransferenciasRecibidas" class="btn btn-sm btn-primary">Limpiar filtro</button>
                        <a href="/Finanzas/ReimprimirComprobante/"></a>
                        <button id="btnImprimirmodalPagosRecibidos" class="btn btn-sm btn-outline-primary"><i class="bi bi-printer"></i></button>
<span id="CantidadRegistros">Cantidad de registros:</span>
                    </div>

                        <tr>
                            <th scope="col">Cliente</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Concepto</th>
                            <th scope="col">Monto</th>
                            <th scope="col">Observación</th>
                            <th scope="col">Tipo de pago</th>

                            <th scope="col">N° Transferencia</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                </table>
               </div>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                
            </div>
        </div>
    </div>
</div>
<script>
     jQuery.extend(jQuery.expr[":"],
            {
              "contiene-palabra": function (elem, i, match, array) {
                return (elem.textContent || elem.innerText || jQuery(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
              }
            });
    $('#btnFiltrarTransferenciasRecibidasTransferencias').click(function(){
        jQuery("#tablaTransferenciasRecibidas tbody>tr").hide();
              jQuery("#tablaTransferenciasRecibidas td:contiene-palabra('Transferencia')").parent("tr").show();
              var filasvisible= $("#tablaTransferenciasRecibidas tr:visible").length;
              $('#CantidadRegistros').html('Cantidad de registros:' +filasvisible);
          })
$('#btnFiltrarTransferenciasRecibidasEfectivo').click(function(){
        jQuery("#tablaTransferenciasRecibidas tbody>tr").hide();
              jQuery("#tablaTransferenciasRecibidas td:contiene-palabra('Efectivo')").parent("tr").show();
              var filasvisible= $("#tablaTransferenciasRecibidas tr:visible").length;
              $('#CantidadRegistros').html('Cantidad de registros:' +filasvisible);

})
$('#btnFiltrarTransferenciasRecibidasCheque').click(function(){
        jQuery("#tablaTransferenciasRecibidas tbody>tr").hide();
              jQuery("#tablaTransferenciasRecibidas td:contiene-palabra('Cheque')").parent("tr").show();
              var filasvisible= $("#tablaTransferenciasRecibidas tr:visible").length;
              $('#CantidadRegistros').html('Cantidad de registros:' +filasvisible);

})
$('#btnLimpiarFiltroTransferenciasRecibidas').click(function(){
    jQuery("#tablaTransferenciasRecibidas tbody>tr").show();
    var filasvisible= $("#tablaTransferenciasRecibidas tr:visible").length;
      $('#CantidadRegistros').html('Cantidad de registros:' +filasvisible);
})
$('#btnImprimirmodalPagosRecibidos').click( function(){
    window.print();
    });
</script>
