<form  id="formGenerarComprobante" action="/GenerarComprobante" method="post">
    <div class="container-fluid">
        <div class="modal fade" id="ModalNuevoPagoObras2" tabindex="-1" role="dialog" aria-labelledby="ModalNuevoPagoObras2Label" aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="TituloModal">NUEVO PAGO </h5>
                <div class="btn-group">
                  <button class="btn btn-outline-secondary" type="button" id="btnClientesPorLote" onclick="cargarClientesPorLote('<%=NombreObra%>')">Cargar
                    clientes por lotes</button>
                  <button type="button" id="btnVerComprobantesRegistrados" class="btn btn-outline-secondary">Ver comprobantes registrados</button>
                  <button type="button" class="btn btn-outline-secondary" onclick="editarVecino()">
                    <i id="engranajeEditarVecino" class="bi bi-gear"></i>
                  Editar montos a pagar</button>
                </div>
    
                <div id="editarDatosCliente">
                </div>
                <button type="button" class="close" onclick="$('#ModalNuevoPagoObras2').modal('hide');" aria-label="Cerrar">
                  <span aria-hidden="true">&times;</span>
                </button>
    
              </div>
                <div class="modal-body">
    <input type="number" name="CotizacionUSD" id="CotizacionUSDGenerarComprobante" hidden> 

                  <input type="number" name="IDCliente" id="IDCliente" hidden>
                  <div class="container">
                    <div class="d-inline  mb-2">
                      Obra: <%=NombreObra%>
                      <input class="" type="text" name="Obra" id="Obra" value="<%=NombreObra%>" hidden>
    <input type="text" name="DNICliente3" id="DNICliente3" hidden>
                    </div>
                    <div class="d-inline  ms-5 mb-2" id="textoNombreCliente2">
                    </div>
                    
                    <input class="" id="inputNombreCliente2" type="hidden" name="NombreCompleto" value="">
    
                    <div class="input-group mb-3 ">
                      <label id="labelDomicilio" class="input-group-text" for="InputDomicilio2">Domicilio</label>
                      <input class="form-control" type="text" id="inputDomicilio2" name="Domicilio">
                    </div>
                    <div class="input-group mb-3 pagomodificado" >
                      
                      <label id="labelDomicilio" class="input-group-text border-success" for="DineroQueTraeCliente">Dinero que trae el cliente. <span class="text-muted">(Opcional)</span></label>
                      <input class="form-control border-success" type="number" id="DineroQueTraeCliente" value="0" >
                    
                   
                    </div>
                    <div class="row mb-2">
<div class="col-2">
  <button class="btn btn-primary btn-sm" type="button" onclick="agregarNuevoConcepto();">Agregar nuevo concepto de pago</button>
</div>
<div class="col-10">
  <p class="border border-primary p-2" id="InformacionSaldoVecino"></p>
</div>
                    </div>
<div class="row mb-2">
                    <div class="conceptoPago1 col-7">
                    <div class="input-group mb-3 ">
                          <label class="input-group-text" for="Concepto">Concepto 1</label>
                          <select class="form-select Concepto" name="Concepto" id="Concepto1" aria-label="Seleccione el pago">
                            <option value="" selected> </option>
                            <option value="AnticipoFinanciero">Anticipo Financiero</option>
                            <option value="Cuota1">Cuota 1</option>
                            <option value="Cuota2">Cuota 2</option>
                            <option value="Cuota3">Cuota 3</option>
                            <option value="Cuota4">Cuota 4</option>
                            <option value="Cuota5">Cuota 5</option>
                            <option value="Cuota6">Cuota 6</option>
                            <option value="Cuota7">Cuota 7</option>
                            <option value="Cuota8">Cuota 8</option>
                            <option value="Cuota9">Cuota 9</option>
                            <option value="Cuota10">Cuota 10</option>
                            <option value="Cuota11">Cuota 11</option>
                            <option value="Cuota12">Cuota 12</option>
                            <option value="DNV">Permiso DNV</option>
                            <option value="DPV">Permiso DPV</option>
                            <option value="Hidraulica">Permiso Hidraulica</option>
                            <option value="FFCC">Permiso FFCC</option>
                            <option value="Privado">Permiso Privado</option>
                            <option value="Municipal">Permiso Municipal</option>
                            <option value="ServicioDomiciliario">Servicio Domiciliario</option>
                            <option value="IngresoDocumentacion">Ingreso de documentacion comienzo tramite
                            </option>
                            <option value="Irrigacion">Permiso Irrigacion</option>
                          </select>

                    </div>
                  </div><div class="col-4">
                    <div class="input-group mb-3" id="divImporte1" >
                      <label class="input-group-text" for="Importe1">Importe 1</label>
                      <input required class="form-control Importe" value="0" type="number" name="ValorIngresado" id="Importe1">
                    </div>
                  </div>
                </div>
                 
                    <div class="calculoUSD  mb-3" style="display: none;" >
                      <input type="hidden" id="cotizacionBaseDolar">
                      <div class="row mb-5">
                      <div class="col-2">
                        <label for="" class="form-label">¿Actualizar el precio?</label>
                        <select class="form-select form-select-sm" name="" id="CalcularEnDolares">
                          <option selected></option>
                          <option value="No">No</option>
                          <option value="Si">Si</option>
                          
                        </select>
                      </div>
                   
<div class="col-2">
  <label for="" class="form-label">Dólar venta oficial BNA:</label>
  <input type="number"
    class="form-control" name="" id="CotizacionUSD" aria-describedby="helpId" placeholder="" value="0">
    
</div>
<div class="col-8" id="TextoUsuarioCotizacionUSD">
  
</div>
<span style="display: none;" class="descripcionUSD">El sistema reajusta automáticamente el monto a pagar, en base al valor predefinido al momento de contratar la obra.</span>
<span id="cotizacionInicial" class="text-primary" val=""></span>
</div>

 </div>
 
                    
               
                    <div class="mb-3">
                      <label class="input-group-text" for="FechaPago2"> Fecha de pago</label>
                      <input required class="form-control" type="date" name="FechaPago" id="FechaPago2" autocomplete="on">
                    </div>
    <div class="row">
                      <div class="col-md-6">
                        <label class="input-group-text" for="ObservacionesDelPago">Observaciones</label>
                        <input class="form-control" type="text" name="ObservacionesDelPago" id="ObservacionesDelPago">
                      </div>
    <div class="col-md-6">
                        <label class="input-group-text" for="FormaDePago">Forma de pago</label>
                        <select class="form-select" name="FormaDePago" id="FormaDePago">
                          <option value="Efectivo" selected>Efectivo</option>
                          <option value="Transferencia">Transferencia bancaria</option>
                          <option value="Cheque">Cheque</option>
                        </select>
                        <div id="divnroTransferencia" class="mb-3" style="display: none;">
                          <label for="" class="form-label">N° identificación de transferencia</label>
                          <input type="text"
                            class="form-control" name="nroTransferencia" id="" aria-describedby="helpId" placeholder="" value="0">
                          <small id="helpId" class="form-text text-muted">Ingrese el la identificación de la transferencia(solo números).</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                <div class="modal-footer noImprimible">
                  <div id="MensajeServidorPago"></div>
                  <button type="button" class="btn btn-danger noImprimible" onclick="$('#ModalNuevoPagoObras').modal('hide')">Cerrar</button>
                  <button type="button" id="btnGuardarCambiosPagos" class="btn btn-success  noImprimible ">Guardar</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <script>
      //variables globales de la pagina
       var MontosaPagar=[];
var ImporteOriginalAPagarConcepto=0;
var idcliente = $('#IDCliente').val();
cantidadConceptosGenerados=1;
function BuscarCotizacionDolar(){
  $('CotizacionUSD').val('0');
  $.ajax({
        type: "GET",
        url: "https://dolarapi.com/v1/dolares/oficial",
        dataType: "json",
        success: function (response) {
          // console.log("Respuesta de api externa cotización dolar venta oficial, banco Nación"); 
          // console.log(response[4].casa);
         cotizacionActualDolar= response.venta;
         $('#CotizacionUSD').val(cotizacionActualDolar); 
         $('#CotizacionUSDGenerarComprobante').val(cotizacionActualDolar);//Actualiza la cotización que va a llegar al backend, en Generar Comprobante.
         $('.calculoUSD').css('display','block'); //Este calculo en dolares, se encuentra dentro de la vista de pago del cliente.
        }
        })
        }
function BuscarValoresConceptoPago(idConcepto, nroImporte) {
let nombreConcepto = '#'+idConcepto;
let Importe='#Importe'+nroImporte;
var ConceptoDePagoHTML=$(nombreConcepto);
idcliente=$('#IDCliente').val();
          $.ajax({
      url: '/BuscarDatosClienteQuePaga/' + idcliente,
    }).done(function (respuestaServidor) {
        $('#cotizacionInicial').empty();
        $('#cotizacionInicial').append('Cotización al momento de contratación: 1USD = $'+respuestaServidor.montosCuota[0].CotizacionUSD);
        $('#cotizacionInicial').val(respuestaServidor.montosCuota[0].CotizacionUSD);
      var montoAPagarPredeterminado = respuestaServidor.montosCuota;
      MontosaPagar=respuestaServidor.montosCuota;
      $(nombreConcepto+" option:selected").each(function () {
        var ConceptoSeleccionado = $(this).attr('value');
        montoAPagarPredeterminado.forEach(element => {
          JSON.parse(JSON.stringify(element), (key, value) => {
            if (ConceptoSeleccionado == key) {
              $(Importe).val(value);
              ImporteOriginalAPagarConcepto=value;
            };
          });
        })
      
      })
    })
        }
        function EliminarConcepto(nroConcepto) {
          nroConcepto=parseInt(nroConcepto);
        console.log('Eliminar Concepto');
        $('#ConceptoPago'+nroConcepto).remove();
      }
      function calcularSaldoDisponible(){
        $('#InformacionSaldoVecino').removeClass('border border-primary');
        dineroCliente = $('#DineroQueTraeCliente').val();
        var contador= 0;
        var MontoImportesACalcular=0;
        while (contador<cantidadConceptosGenerados) {
          contador=contador+1;
          MontoImportesACalcular=parseInt(MontoImportesACalcular+parseInt($('#Importe'+contador).val()));
          console.log('Monto de los importes calculados:'+MontoImportesACalcular);
        }
        $('#InformacionSaldoVecino').addClass('border border-primary');
       if(dineroCliente>MontoImportesACalcular){
            var montoRestante= dineroCliente;
            montoRestante= dineroCliente-MontoImportesACalcular;
            $('#InformacionSaldoVecino').html('<p class="text-primary">Al cliente le sobra $'+montoRestante+'. Puede pagar otro concepto más.</p>')
          }
          if(dineroCliente<MontoImportesACalcular){
            var montoRestante= dineroCliente;
            montoRestante= dineroCliente-MontoImportesACalcular;
            $('#InformacionSaldoVecino').html('<p class="text-primary">El monto restante es $'+montoRestante+'. Falta dinero para completar el pago del concepto.</p>')
          }  
          if(dineroCliente==MontoImportesACalcular){
            var montoRestante= dineroCliente;
            montoRestante= dineroCliente-MontoImportesACalcular;
            $('#InformacionSaldoVecino').html('<p class="text-primary">$:'+montoRestante+'. Total del dinero utilizado.</p>')
          }  

      }
      function agregarNuevoConcepto(){
        cantidadConceptosGenerados=cantidadConceptosGenerados+1; //Se aumenta en 1 el contador de conceptos generados
        $('.conceptoPago1').append(

'<div class="conceptoPago'+cantidadConceptosGenerados+' row p-2">'+
  '<div class="col-6">'+
'<div class="input-group mb-3 ">'+
'<label class="input-group-text">Concepto '+cantidadConceptosGenerados+' </label>'+
'<select class="form-select Concepto" name="Concepto" id="Concepto'+cantidadConceptosGenerados+'" aria-label="Seleccione el pago">'+
'<option value="" selected> </option>'+
'<option value="AnticipoFinanciero">Anticipo Financiero</option>'+
'<option value="Cuota1">Cuota 1</option>'+
'<option value="Cuota2">Cuota 2</option>'+
'<option value="Cuota3">Cuota 3</option>'+
'<option value="Cuota4">Cuota 4</option>'+
'<option value="Cuota5">Cuota 5</option>'+
'<option value="Cuota6">Cuota 6</option>'+
'<option value="Cuota7">Cuota 7</option>'+
'<option value="Cuota8">Cuota 8</option>'+
'<option value="Cuota9">Cuota 9</option>'+
'<option value="Cuota10">Cuota 10</option>'+
'<option value="Cuota11">Cuota 11</option>'+
'<option value="Cuota12">Cuota 12</option>'+
'<option value="DNV">Permiso DNV</option>'+
'<option value="DPV">Permiso DPV</option>'+
'<option value="Hidraulica">Permiso Hidraulica</option>'+
'<option value="FFCC">Permiso FFCC</option>'+
'<option value="Privado">Permiso Privado</option>'+
'<option value="Municipal">Permiso Municipal</option>'+
'<option value="ServicioDomiciliario">Servicio Domiciliario</option>'+
'<option value="IngresoDocumentacion">Ingreso de documentacion comienzo tramite'+
'</option>'+
'<option value="Irrigacion">Permiso Irrigacion</option>'+
'</select>'+
'</div>'+
'</div>'+
'<div class="col-5">'+
'<div class="ImporteDelConcepto" id="">'+
'<label class="input-group-text " for="ImporteIngresado">Importe '+cantidadConceptosGenerados+'</label>'+
'<input required class="form-control Importe" value="0" type="number" name="ValorIngresado" id="Importe'+cantidadConceptosGenerados+'">'+
'</div>'+
'</div>'+
'<div class="col-1"><button class="btn btn-danger" type="button" onclick="EliminarConcepto('+cantidadConceptosGenerados+')">Eliminar concepto</button></div>'+
'</div>');
    BuscarValoresConceptoPago('Concepto'+cantidadConceptosGenerados+', Importe '+cantidadConceptosGenerados+'');
    calcularSaldoDisponible();
      }
      $(document).on('change','.Importe',function(){ //Cuando el importe de algun concepto es modificado, recalcula el saldo disponible.
        calcularSaldoDisponible();
        console.log('Saldo recalculado');
      })
      $(document).on('change','.Concepto',function(){
idConcepto=$(this).attr('id');
//BUSCAR EL NRO DE CONCEPTO
var posicionPalabraClave=idConcepto.indexOf('Concepto');
var nroConcepto= idConcepto.substring(posicionPalabraClave + 'Concepto'.length);
BuscarCotizacionDolar();
    BuscarValoresConceptoPago(idConcepto,nroConcepto);
    setTimeout(() => {
      calcularSaldoDisponible(); 
    }, 1000);
   
      })
      function EliminarConcepto(idConcepto,idImporte){
$('#'+idConcepto).empty();
$('#'+idImporte).empty();
      }
  function CargarPago(idcliente) {
          $('#formGenerarComprobante')[0].reset();
          $.ajax({
            url: '/BuscarDatosClienteQuePaga/' + idcliente,
          }).done(function(respuestaServidor) {
            var results = respuestaServidor.results;
            $('#ModalNuevoPagoObras2').modal("show");
            $('#editarCliente').empty();
            $('#inputNombreCliente2').val(results[0].NombreCliente);
            $('#inputNombreCliente2').css('display', 'block');
            $('#textoNombreCliente2').css('display', 'block');
            $('#textoNombreCliente2').empty();
            $('#textoNombreCliente2').append('Nombre del cliente: ' + results[0].NombreCliente);
            $('#inputDomicilio2').val(results[0].Direccion);
            $('#IDCliente').val(idcliente);
            $('#DNICliente3').val(results[0].DNICliente);
            var fecha = new Date(); //Fecha actual
            var mes = fecha.getMonth() + 1; //obteniendo mes
            var dia = fecha.getDate(); //obteniendo dia
            var ano = fecha.getFullYear(); //obteniendo año
            if (dia < 10)
              dia = '0' + dia; //agrega cero si el menor de 10
            if (mes < 10)
              mes = '0' + mes //agrega cero si el menor de 10
            $('#FechaPago2').val(ano + "-" + mes + "-" + dia);
            $('#FechaPago2').html(ano + "-" + mes + "-" + dia);
          });
          $('#editarDatosCliente').html('<a class="btn btn-info" href="/Finanzas/CobroDeObras/EditarCliente/'+ idcliente+'">Editar cliente</a>');
        }
        $('#ImporteIngresado,#DineroQueTraeCliente, #ValorIngresado2').change(function(){
          calcularSaldoDisponible();
    $('#Concepto1').change(function(){
      $("#Concepto1 option:selected").each(function () {
      var ConceptoSeleccionado = $(this).attr('value');
      MontosaPagar.forEach(element => {
          JSON.parse(JSON.stringify(element), (key, value) => {
            if (ConceptoSeleccionado == key) {
              $('#Importe1').val(value);
            };
          });
        })
    })
    var MontoRestante= $('#DineroQueTraeCliente').val()-$('#ImporteIngresado').val()-$('#ValorIngresado2').val();
    if(MontoRestante<0){
      
      var diferenciaAPagar=$('#ValorIngresado2').val()-MontoRestante;
      $('#MontoRestanteDeDinero').html('Lo que resta de dinero, no puede pagar el importe por completo, el cliente solo puede pagar: $'+diferenciaAPagar+'. Por favor, modifique el importe a pagar.');
    }else{
      $('#MontoRestanteDeDinero').html('Actualmente queda un saldo de: $'+MontoRestante+' para ser usado en otro pago.');

    }
    })
        })
        $('#btnGuardarCambiosPagos').click(function(){ 
    // Funcion que trabaja con el modal que se encuentra ubicado en NuevoPagoObras.ejs, dentro de PagoClientes.ejs
    //Primero comprobamos si el pago ingresado, es mayor al estipulado o no.
    // la variable "ImporteOriginalAPagar" se encuentra dentro de "VistaDeLaObra.ejs".
      const form =$('#formGenerarComprobante');
    const formData=form.serialize();
    var nombreArchivoComprobanteDePago='';
    $.ajax({
      type: "POST",
      url: "/GenerarComprobante",
      data: formData  ,
      success: function (data) {
nombreArchivoComprobanteDePago=data;
        $('#MensajeServidorPago').html('<span class="text-success">El pago se ha efectuado con exito!</span>');
        $.ajax({
      type: "GET",
      url: "/GenerarComprobante/Descargar",
      xhrFields:{responseType:'blob'},
      success: function (response) {   
    // const blob = new Blob([response], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;' });
    const blob=response;
    const url = URL.createObjectURL(blob);
    const a = document.createElement('a');
    document.body.appendChild(a);
    a.href = url;
    a.download = nombreArchivoComprobanteDePago;
    a.click();
    // Liberar recursos
    window.URL.revokeObjectURL(url);
    document.body.removeChild(a);
      }
    });
        setTimeout(() => {
          $('#ModalNuevoPagoObras2').modal('toggle');
          $('#formGenerarComprobante')[0].reset();
          location.reload();
        }, 4000);
      },
      error:function(error){
        console.log(error);
        $('#MensajeServidorPago').html('<span class="text-danger">ERROR: No se ha podido efectuar el pago. Intente cargarlo nuevamente.</span>');
        setTimeout(() => {
          $('#formGenerarComprobante')[0].reset();
          
        }, 4000);
      }
    });
    setTimeout(() => {
      $.ajax({
      type: "GET",
      url: "/GenerarComprobante/Descargar",
      xhrFields:{responseType:'blob'},
      success: function (response) {   
    // const blob = new Blob([response], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;' });
    const blob=response;
    const url = URL.createObjectURL(blob);
    const a = document.createElement('a');
    document.body.appendChild(a);
    a.href = url;
    a.download = nombreArchivoComprobanteDePago;
    a.click();
    // Liberar recursos
    window.URL.revokeObjectURL(url);
    document.body.removeChild(a);
      }
    });
    }, 6000);
   }); 
          </script>