<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Moment.js: -->
  <script src="./moment/moment.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/moment.min.js"></script> -->
  <!-- Locales for moment.js-->
  <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.11.3/sorting/datetime-moment.js"></script>
  <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/locale/es.js"></script>
  <!-- Datatable -->

<link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css">
  <script src="./bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Datatable  -->
  <link rel="stylesheet" type="text/css" href="./DataTables/datatables.css"/>

  <script type="text/javascript" src="./DataTables/datatables.js"></script>
 
 

  <title class="text-center">Administración Ecogas</title>
</head>

<body>
   <%- include('./partials/menusuperior.ejs');%>
   <%if(results){%>
   <div class="container">
    <div class="row">
      <h1 class="text-center">Administración de obras de Gas</h1>
    </div>
   
  </div>
  <div class="container text-center">
  <div class="btn-group mr-2" role="group">
    <a href="/">
      <button class="btn btn-danger" onClick="history.go(-1);">Volver</button>
    </a>
    <a href="/nuevocliente">
      <button class="btn btn-success">Nuevo Cliente</button>
    </a>
  </div>
    <br>

  <div class="table-responsive">
    <table id="comunicacionDiaria" class="table  table-striped table-bordered table-sm table-hover  " style="width: 100%">
     
      <thead>

        <tr>
          <th>
            Codigo
          </th>
          <th>
            <h4>Nombre</h4>
          </th>
          <th>
            <h4>N° de carpeta</h4>
          </th>
          <th>
            <h4>Responsable</h4>
            <div class="btn-group ">
            <button id="Mauricio"class=" btn btn-outline-dark btn-sm "> Mauricio</button>
            <button id="Gustavo"class="   btn btn-outline-dark btn-sm"> Gustavo</button>
          </div>
          </th>
          <th>
            <h4>Tarea realizada</h4>
            <div class="btn-group ">
              <button id="TablaGral"clicked class=" btn btn-outline-dark btn-sm">Quitar filtros</button>
            </div>
          </th>
          <th> <h4>Etapa de la tarea</h4>
<div class="btn-group ">
           <button class="btn btn-outline-dark btn-sm" id="Prel"> Prel</button>
           <button class="btn btn-outline-dark btn-sm" id="1P"> 1P</button>
           <button class="btn btn-outline-dark btn-sm" id="2P"> 2P</button>
           <button class="btn btn-outline-dark btn-sm" id="Obras"> Obras</button>
           <button class="btn btn-outline-dark btn-sm" id="Caos"> CAOS</button>
          </div>
</th>
          <th>
            <h4>Proxima tarea</h4>
          </th>
          <th>
            <h4>Fecha Limite</h4>
            <!-- <button id="VerUrgentes"class="   btn btn-outline-dark btn-sm"> Ver urgentes</button> -->

          </th>
          <th>
            <h4>Estado</h4>
          <!-- </th>
          <th>Opciones</th> -->
        </tr>
      </thead>
      <tbody>
      </tbody>
      
    </table>
  </div>
 
  <script>  
  $(document).ready(function(){
   
      var url = '/adminecogas/TablaGeneral';
      
    var tabla= $('#comunicacionDiaria').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
      paging: false,
      "ordering": true,
      // columnDefs: [ { type: 'date', targets: [6],  } ], //Al activar este filtro, no permite que se puedan ordenar las fechas.
      "order":[[6,'desc']],
        "language": { url: "//cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json" },
        "ajax": {
          "url": url,
          "dataSrc": "",
        },
       
        "columns": [
          {"width":"5%","data": "Codigo", render: function(data,type,row){
            var Codigoenuso= row.Codigoenuso;
            if(Codigoenuso=="N"){
              return 'S/C';
            }
            else{
              return row.Codigo;
            }
          }},
          { "width":"5%","data": "Nombre_sub", render: function(data,type,row){
            return '<a href="/editarTareas/' + row.id + '" class="btn btn-outline-secondary btn-sm">'+row.Nombre_sub+'</a>'
          } },
          { "width":"5%","data": "NCarpeta", render: function(data,type,row){
            return '<a href="/editarTareas/' + row.id + '" class="btn btn-outline text-center btn-sm">'+row.NCarpeta+'</a>'
          } },
          { "width":"5%","data": "ResponsableDeTarea"},
          { "width":"70%","searchable":false,"data": "Tarea_Realizada_sub" }, 

          { "width":"15%", "data": "EtapaTarea_sub", render: function(data,type,row){return '<a href="/historialcarpeta/' + row.Nombre_sub + '" class="btn btn-secondary btn-sm text-center">'+row.EtapaTarea_sub+'</a>'} }, //Esta es lo correcto que deberia de ir en esta linea
          
          { "width":"15%", "searchable":false,"data": "Proxima_Tarea_sub" },
          
          { "width":"5%","data": "Fecha_Proxima_Tarea_sub", render:function(data,type,row){
            moment.locale('es');
            data= new Date(data);
            data= data.toISOString();
            var fecha = new Date(data);
            var fechaActual = new Date();
            fecha = fecha.toISOString();
            fechaActual = fechaActual.toISOString();


    // fechaActual=moment(fechaActual).format("DD-MM-YYYY");
    
    if (fechaActual==fecha){
      fecha = moment(fecha).locale('es').format("DD-MM-YYYY");
        return 
        '<div style="display:none">'+ data+'</div> <br>  <div class="bg-primary text-dark">'+ fecha+' </div>';
      }
      if (fechaActual>fecha){
        fecha = moment(fecha).locale('es').format("DD-MM-YYYY");
           return '<div style="display:none">'+ data+'</div> <br>     <div class="bg-danger text-light">'+ fecha+' </div>';
          }
    if (fechaActual<fecha){
      fecha = moment(fecha).locale('es').format("DD-MM-YYYY");
       return '<div style="display:none">'+ data+'</div> <br>  <div class="bg-success text-light">'+ fecha+' </div>';
    }
   
           }},      
          { "width":"10%","data": "Estado" },

        ],
        destroy:true,
        
      });

//Buscadores con botones.
   $('#Mauricio').on('click', function() {
    tabla
    .columns()
    .search('')
    .column(3)
    .search('Mauricio')
    .draw();
  });
    $('#Gustavo').on('click', function() {
    tabla
    .columns()
    .search('')
    .column(3)
    .search('Gustavo')
    .draw();
    
});
$('#TablaGral').on('click', function() {
    tabla
    .columns()
    .search('')
    .draw();
});
$('#Prel').on('click', function() {
    tabla
    .columns()
    .search('')
    .column(4)
    .search('Prel')
    .draw();
});  $('#1ra').on('click', function() {
    tabla
    .columns()
    .search('')
    .column(4)
    .search('1ra')
    .draw();
});  $('#2da').on('click', function() {
    tabla
    .columns()
    .search('')
    .column(4)
    .search('2da')
    .draw();
});  $('#Obras').on('click', function() {
    tabla
    .columns()
    .search('')
    .column(4)
    .search('Obras')
    .draw();
});
$('#Caos').on('click', function() {
    tabla
    .columns()
    .search('')
    .column(4)
    .search('Caos')
    .draw();
});
  })
  function convertFromStringToDate(responseDate) {
console.log("response date tiene:" + responseDate);              
    let dateComponents = responseDate.split('T');
    let datePieces = dateComponents[0].split("-");
    let timePieces = dateComponents[1].split(":");
    var NuevaFecha = new Date(datePieces[2], (datePieces[1] - 1), datePieces[0],
                         timePieces[0], timePieces[1], timePieces[2]);

console.log("la nueva fecha es:" + NuevaFecha);
    return(new Date(datePieces[2], (datePieces[1] - 1), datePieces[0],
                         timePieces[0], timePieces[1], timePieces[2]))
}

     </script>
<%}%>
</body>

</html>