<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css">
<script src="./bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="./moment/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<link rel="shortcut icon" href="/src/public/favicon.ico" type="image/x-icon">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/moment.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
 
  <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/locale/es.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.11.3/sorting/datetime-moment.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.12.1/af-2.4.0/b-2.2.3/date-1.1.2/fc-4.1.0/fh-3.2.4/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.12.1/af-2.4.0/b-2.2.3/date-1.1.2/fc-4.1.0/fh-3.2.4/datatables.min.js"></script>
  <!-- Datatable -->
<title class="text-center">Administración Ecogas</title>
</head>

<body>
   <%- include('./partials/menusuperior.ejs');%>
   <%if(results){%>
   <div class="container text-center">
     <div class="row p-1">
    <div class="col">
      <h3 class="fw-bold text-decoration-underline">Administración de obras de Gas</h3>
    </div>
   <div class="col sm-2" >
    <div class="btn-group" role="group" >
      
      <a href="/nuevocliente">
        <button class="btn btn-success ">Nuevo Cliente</button>
      </a>
    </div>
   </div>
  </div>
  </div>
<div id="Avisos" class="container" style="display: none;">
<button disabled class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#Interferencias" onclick="document.getElementById('interferencias').style.display='block'">Interferencias</button>
<button disabled>Permisos</button>
<button disabled>Documentación</button>

</div>
<div id=interferencias class="" style="display: none ;">
  <%- include('./interferencias.ejs')%>
</div>
    <br>
    <div class="table-responsive " style="width:100%">
    <table id="comunicacionDiaria" class="table table-striped table-bordered table-hover " style="width:100%">
      <thead class="">
        <tr>
          <th class="text-center align-middle">
            
            <i class="bi bi-c-circle" style="font-size: 2rem;" title="Codigo designado para ubicar en las carpetas fisicas de la oficina."></i>
          </th>
          <th class="text-center align-middle">
            <h6>Nombre</h6>
          </th>
          <th class="text-center align-middle">
            <h6>N°</h6>
          </th>
          <th class="text-center align-middle">
            
            <button id="Mauricio"class=" btn btn-outline-primary btn-sm "> Mauricio</button>
            <button id="Gustavo"class="  btn btn-outline-primary btn-sm"> Gustavo</button>
            <button id="Daiana"class="  btn btn-outline-primary btn-sm"> Daiana</button>

          </th>
          <th class="text-center align-middle">
            <h6>Tarea realizada
              <button id="TablaGral"clicked class=" btn btn-outline-primary btn-sm">Quitar filtros</button>
            </h6>
          </th>
          <th class="text-center align-middle">
<div class="btn-group btn-group-sm" role="group">
           <button class="btn btn-outline-primary btn-sm" id="Prel"> Prel</button>
           <button class="btn btn-outline-primary btn-sm" id="1ra"> 1P</button>
           <button class="btn btn-outline-primary btn-sm" id="2da"> 2P</button>
          </div>
           <div class="btn-group btn-group-sm" role="group">
           <button class="btn btn-outline-primary btn-sm" id="Obras"> Obras</button>
           <button class="btn btn-outline-primary btn-sm" id="Caos"> CAOS</button>
          </div>
</th>
          <th class="text-center align-middle">
            <h2 class="bi bi-calendar2-minus text-primary"></h2>
            <h6>Proxima tarea</h6>
          </th>
          <th class="text-center align-middle">
            <h2 class="bi bi-calendar-x text-danger"></h2>
            <h6>Fecha Limite</h6>
            
            <!-- <button id="VerUrgentes"class="   btn btn-outline-dark btn-sm"> Ver urgentes</button> -->

          </th>
          <th class="text-center align-middle">
            <h6>Estado</h6>
            </th>
            <th>

            </th>
        </tr>
      </thead>
      <tbody class="text-center">
      </tbody>
    </table>
  </div>
  <script>  
    $("#comunicacionDiaria").css("width","100%")

  $(document).ready(function(){
   
      var url = '/adminecogas/TablaGeneral';
      
    var tabla= $('#comunicacionDiaria').DataTable({
        "orderCellsTop": true,
        "fixedHeader": true,
      "paging": false,
      "ordering": true,
      "scrollX": true,
      "destroy":true,    
      // columnDefs: [ { type: 'date', targets: [6],  } ], //Al activar este filtro, no permite que se puedan ordenar las fechas.
      "order":[[6,'desc']],
        "language": { url: "//cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json" },
        "ajax": {
          "url": url,
          "dataSrc": "",
        }, 
               
        "columns": [
          {"width": "5%","data": "CodigoVigentes", render: function(data,type,row){
            if(row.CodigoVigentes==null || row.CodigoEnUsoVigentes=="F"){
              return ('<div class="text-light bg-success " title="Carpeta Finalizada. Codigo fisico.">'+row.CodigoFinalizadas+'</div>' );
            }
            else{
            var fecha = new Date().toLocaleDateString();
            if(row.Estado=="2da parte"){
              var a=0;
              if(row.Interferencias=="Pedir"){
                a=1;
                if((row.Permisos=="Sin Presentar")||( row.Permisos==null) ){
              a=2;
                return '<div title="Codigo designado para ubicar en las carpetas fisicas de la oficina.">'+row.CodigoVigentes+'</div>'+
              '<div title="PERMISO VENCIDO" class="btn m-1 btn-danger bt-sm"> P </div>'+
              '<div class="btn m-1 btn-danger bt-sm" TITLE="INTERFERENCIAS VENCIDAS"> I </div>';
              
              }
              if(row.Permisos=="EnGestion"){
                a=2;
                return '<div title="Codigo designado para ubicar en las carpetas fisicas de la oficina.">'+row.CodigoVigentes+'</div>'+
              '<div title="PERMISO EN GESTION" class="btn m-1 btn-warning bt-sm"> P </div>';
              +  '<div class="btn m-1 btn-danger bt-sm" TITLE="INTERFERENCIAS VENCIDAS"> I </div>';
              }
if(a=1){
                return '<div title="Codigo designado para ubicar en las carpetas fisicas de la oficina.">'+row.CodigoVigentes+'</div>'+
              '<div class="btn m-1 btn-danger bt-sm" TITLE="INTERFERENCIAS VENCIDAS"> I </div>';
}
              }
            if((row.Permisos=="Sin Presentar")||( row.Permisos==null) ){
              a=2;
                return '<div title="Codigo designado para ubicar en las carpetas fisicas de la oficina.">'+row.CodigoVigentes+'</div>'+
              '<div title="PERMISO VENCIDO" class="btn m-1 btn-danger bt-sm"> P </div>';
              }
              if(row.Permisos=="EnGestion"){
                a=2;
                return '<div title="Codigo designado para ubicar en las carpetas fisicas de la oficina.">'+row.CodigoVigentes+'</div>'+
              '<div title="PERMISO EN GESTION" class="btn m-1 btn-warning bt-sm"> P </div>';
              }
              if(a==0){
              return '<div title="Codigo designado para ubicar en las carpetas fisicas de la oficina.">'+row.CodigoVigentes+'</div>' 
              }
            }
            else{
              return '<div title="Codigo designado para ubicar en las carpetas fisicas de la oficina.">'+row.CodigoVigentes+'</div>'
            }
           
            }
          }},
          {"width": "1%","data": "Nombre_sub", render: function(data,type,row){
            return '<a href="/editarTareas/' + row.id + '" class=" text-center btn btn-outline-primary btn-sm" title="Nombre de la carpeta">'+row.Nombre_sub+'</a>'
          } },
          {"width": "1%","data": "NCarpeta", render: function(data,type,row){
            return '<a href="/editarTareas/' + row.id + '" class=" text-center btn  text-center btn-sm" title="N° de la carpeta">'+row.NCarpeta+'</a>'
          } },
          {"width": "1%","data": "ResponsableDeTarea" },
          {"width": "50%","data": "Tarea_Realizada_sub", "searchable":false, }, 
          {"width": "1%","data": "EtapaTarea_sub", render: function(data,type,row){
  return '<a href="/historialcarpeta/' + row.Nombre_sub + '" class="text-center">'+row.EtapaTarea_sub+'</a>'} }, 
          {"width": "44%","data": "Proxima_Tarea_sub",   "searchable":false, },
          {"width": "1%","data": "Fecha_Proxima_Tarea_sub", render:function(data,type,row){
            moment.locale('es');
            data= new Date(data);
            data= data.toISOString();
            var fecha = new Date(data);
            var fechaActual = new Date();
            var diaActual= fechaActual;
        var diaData= fecha;
            fecha = fecha.toISOString();
            fechaActual = fechaActual.toISOString();
 //Calculamos la diferencia entre los dias =>{
  var diferenciaDias= Math.abs(diaActual-diaData);
        var dias=diferenciaDias/(1000*3600*24);
        dias = parseInt(dias); //Para que el sistema pueda calcular mejor la diferencia entre fechas, pasamos el numero con coma, a numero entero.
        //}
   
      if (fechaActual>fecha){//Dias atrasados
        fecha = moment(fecha).locale('es').format("DD-MM-YYYY");
        if (dias>7){
          return '<div  style="display:none">'+ data+'</div> <br><div id="TextoParpadeante" class="bg-black text-danger"><h4>'+ fecha+'</h4> </div>';
          Blink();
        }if(dias>0){
           return '<div style="display:none">'+ data+'</div> <br>     <div class="bg-danger text-light">'+ fecha+' </div>';
           Blink();
          }
          if(dias==0){
            return '<div style="display:none">'+ data+'</div> <br>     <div class="bg-warning text-dark">'+ fecha+' </div>';
          }
          }
      //     if (fechaActual==fecha){
      // fecha = moment(fecha).locale('es').format("DD-MM-YYYY");
      //   return 
      //   '<div style="display:none">'+ data+'</div> <br>  <div class="bg-warning text-dark">'+ fecha+' </div>';
      // }
    if (fechaActual<fecha){
      if (dias>30)
      { fecha = moment(fecha).locale('es').format("DD-MM-YYYY");
       return '<div style="display:none">'+ data+'</div> <br>  <div  class="bg-primary text-light">'+ fecha+' </div>';
      }if(dias>(-4)){
      fecha = moment(fecha).locale('es').format("DD-MM-YYYY");
       return '<div style="display:none">'+ data+'</div> <br>  <div  class="bg-success text-light">'+ fecha+' </div>';
    }}
   
           }},      
          {"width": "1%","data": "Estado"},
          { render: function(data,row,type){
            return ""}}
            // return '<div> <img src=".././images/SimboloInterferencias.png" alt="Interferencias">  </div>';}}
        ],
      });
     

//Buscadores con botones.
   $('#Mauricio').on('click', function() {
    tabla
    .columns()
    .search('')
    .column(3)
    .search('Mauricio')
    .draw();
  });
    $('#Gustavo').on('click', function() {
    tabla
    .columns()
    .search('')
    .column(3)
    .search('Gustavo')
    .draw();
    
});
$('#Daiana').on('click', function() {
    tabla
    .columns()
    .search('')
    .column(3)
    .search('Daiana')
    .draw();
    
});
$('#TablaGral').on('click', function() {
    tabla
    .columns()
    .search('')
    .draw();
});
$('#Prel').on('click', function() {
    tabla
    .columns()
    .search('')
    .column(5)
    .search('Preliminar')
    .draw();
});  $('#1ra').on('click', function() {
    tabla
    .columns()
    .search('')
    .column(5)
    .search('1ra parte')
    .draw();
});  $('#2da').on('click', function() {
    tabla
    .columns()
    .search('')
    .column(5)
    .search('2da parte')
    .draw();
});  $('#Obras').on('click', function() {
    tabla
    .columns()
    .search('')
    .column(5)
    .search('Obras')
    .draw();
});
$('#Caos').on('click', function() {
    tabla
    .columns()
    .search('')
    .column(5)
    .search('Caos')
    .draw();
});
  })
  function convertFromStringToDate(responseDate) {
console.log("response date tiene:" + responseDate);              
    let dateComponents = responseDate.split('T');
    let datePieces = dateComponents[0].split("-");
    let timePieces = dateComponents[1].split(":");
    var NuevaFecha = new Date(datePieces[2], (datePieces[1] - 1), datePieces[0],
                         timePieces[0], timePieces[1], timePieces[2]);

    return(new Date(datePieces[2], (datePieces[1] - 1), datePieces[0],
                         timePieces[0], timePieces[1], timePieces[2]))
}

     </script>
<%}%>

</body>

</html>