<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interferencias</title>
</head>
<body>
  <%- include('./partials/menusuperior.ejs')%>
    <%if (results){%>
      <h1 class="text-center">Vencimientos</h1>
      <div class="table-responsive-sm">
        <table id="Interferencias" class="table table-hover table-sm table-bordered " style="width: 95%">
          <thead>
            <tr>
              <th class="text-center" scope="col">
                Nombre
              </th>
              <th class="text-center" scope="col">
                N째 de carpeta
              </th>
              <th class="text-center">
                Interferencias
              </th>
              <th class="text-center">
                Permisos
              </th >
              <th class="text-center">
Avisos de la obra (ART,IERIC)
              </th>
              
                              <th class="text-center">
                             Programa de seguridad
                                              </th>
              <!-- <th class="text-center">
                Telefonica
              </th>
              <th class="text-center">

                Agua
              </th>
              <th class="text-center">

                Cloacas
              </th>
              <th class="text-center">
                Electricidad
              </th>
              <th class="text-center">
                Claro
              </th>
              <th class="text-center">

                Arnet
              </th>
              <th class="text-center">
                Arsat
              </th>
              <th class="text-center">
                Telecom
              </th> -->

            </tr>
          </thead>
          <tbody>
          </tbody>

        </table>
      </div>
      <script type="text/javascript" language="javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript" language="javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
      <script type="text/javascript" language="javascript"
        src="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"></script>
      <!-- Moment.js: -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/moment.min.js"></script>
      <!-- Locales for moment.js-->
      <script src="//cdn.datatables.net/plug-ins/1.11.3/sorting/datetime-moment.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/locale/es.js"></script>

      <script>
        $(document).ready(function () {
          $('#Interferencias thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#Interferencias thead');
          var url = '/interferencias/info';
          tabla = $('#Interferencias').DataTable({
            orderCellsTop: true,
            fixedHeader: true,
            initComplete: function () {
              var api = this.api();
              // For each column
              api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                  // Set the header cell to contain the input element
                  var cell = $('.filters th').eq(
                    $(api.column(colIdx).header()).index()
                  );
                  var title = $(cell).text();
                  // $(cell).html('<input type="text" size="2" placeholder="'+ title + '" />');
                  $(cell).html('<input type="text" size="2" placeholder="Buscar" />');

                  // On every keypress in this input
                  $(
                    'input',
                    $('.filters th').eq($(api.column(colIdx).header()).index())
                  )
                    .off('keyup change')
                    .on('keyup change', function (e) {
                      e.stopPropagation();

                      // Get the search value
                      $(this).attr('title', $(this).val());
                      var regexr = '({search})'; //$(this).parents('th').find('select').val();

                      var cursorPosition = this.selectionStart;
                      // Search the column for that value
                      api
                        .column(colIdx)
                        .search(
                          this.value != ''
                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                            : '',
                          this.value != '',
                          this.value == ''
                        )
                        .draw();

                      $(this)
                        .focus()[0]
                        .setSelectionRange(cursorPosition, cursorPosition);
                    });
                });
            },
            "language": { url: "//cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json" },
            "ajax": {
              "url": url,
              "dataSrc": "",
            },
            "columns": [
              {
                "data": "Nombre", render: function (data, type, row) {
                  return '<a href="/editarTareas/' + row.id + '" class="btn  btn-outline-secondary btn-sm">' + row.Nombre + '</a>'
                }
              },
              {
                "data": "NCarpeta", render: function (data, type, row) {
                  return '<a href="/editarTareas/' + row.id + '" class="btn btn-outline btn-sm">' + row.NCarpeta + '</a>'
                }
              },
              {render: function(data,type,row){
                if(row.Interferencias=="Pedir")
                {
                  return '<div class="bg-danger text-light text-center"> Pedir interferencias  </div> ';
                }
if(row.Interferencias=="EnGestion"){
  return '<div class="bg-warning  text-center">Interferencias pedidas y/o en gestion </div> ';
}
if(row.Interferencias=="Presentado"){
  return '<div class="bg-info  text-center">Presentado </div> ';
}
if((row.Interferencias == "ok"|| row.Interferencias == "Ok")){
  return '<div class="bg-success  text-light text-center">Interferencias Ok </div> '
}

if((row.Interferencias==null || row.Interferencias=="")){
  return '<div class="text-center">Sin cargar</div> ';
}
              }
            },
            {
              render: function(data,type,row){

              if(row.Permisos=="Sin presentar" ||row.Permisos=="Sin Presentar" || row.Permisos=="Pedir")
              {
return '<div class="bg-danger text-light text-center"> Hay permisos por pedir </div> ';
               } 
               if(row.Permisos=="EnGestion")
              {
return '<div class="bg-warning text-center">En gesti처n </div> ';
               } 
               if(row.Permisos=="Presentado"){
  return '<div class="bg-info  text-center">Presentado </div> ';
}
               if(row.Permisos=="NC" || row.Permisos=="ok"|| row.Permisos=="Ok")
              {
return '<div class="bg-success text-light text-center">Ok</div> ';
               } 
               if((row.Permisos==null || row.Permisos=="")){
  return '<div class="text-center">Sin cargar</div> ';
}
              }
            },
            {render: function(data,type,row){
if(row.Avisos=="Pedir" || row.Avisos=="Renovar" || row.Avisos=="Sin Presentar" ||row.Avisos=="Sin presentar")
{
  return '<div class="bg-danger text-light text-center">Aviso sin pedir</div> ';
}
if(row.Avisos=="ok"|| row.Avisos=="Ok")
{
  return '<div class="bg-success text-light text-center">Ok</div> ';
}
if(row.Avisos=="EnGestion"|| row.Avisos=="EnGestion")
{
  return '<div class="bg-warning text-center">En gesti처n</div> ';
}
if(row.Avisos=="Presentado"){
  return '<div class="bg-info  text-center">Presentado </div> ';
}
if(row.Avisos==null || row.Avisos==""){
  return '<div class="text-center">Sin cargar</div> ';
}

            }
          },
          {
            render:function(data,type,row){
              if(row.Seguridad=="Pedir" || row.Seguridad=="Renovar" || row.Seguridad=="Sin Presentar" ||row.Seguridad=="Sin presentar")
{
  return '<div class="bg-danger text-light text-center">Sin Presentar y/o Renovar</div> ';
}
if(row.Seguridad=="ok"|| row.Seguridad=="Ok")
{
  return '<div class="bg-success text-light text-center">Ok</div> ';
}
if(row.Seguridad=="EnGestion"|| row.Seguridad=="EnGestion")
{
  return '<div class="bg-warning text-center">En gesti처n</div> ';
}
if(row.Seguridad=="Presentado"){
  return '<div class="bg-info  text-center">Presentado </div> ';
}
if(row.Seguridad==null || row.Seguridad==""){
  return '<div class="text-center">Sin cargar</div> ';
}
            }
          },
            ],
          });
        });

      </script>
      <%}%>
</body>

</html>